<div class="table-responsive">
  <table class="table table-hover">
    <thead class="header">
      <tr>
        <th>Nom</th>
        <th>Securisé ?</th>
        <th>Technicien ?</th>
        <th>Actif ?</th>
      </tr>
    </thead>

    <tbody>
      <% @type_users.each do |type_user| %>
        <tr>
          <td data-toggle="modal" data-target="#<%= type_user.id %>"><%= type_user.name %></td>
          <td>
            <div class="slideThree tableRight">
              <%= type_user.secure ? "<input class='form-control' data-type_user='#{type_user.id}' type='checkbox' value='secure' checked>".html_safe : "<input class='form-control' data-type_user='#{type_user.id}' type='checkbox' value='secure'>".html_safe %>
              <label for="checkbox-right"></label>
            </div>
          </td>
          <td>
            <div class="slideThree tableRight">
              <%= type_user.is_tech ? "<input class='form-control' data-type_user='#{type_user.id}' type='checkbox' value='is_tech' checked>".html_safe : "<input class='form-control' data-type_user='#{type_user.id}' type='checkbox' value='is_tech'>".html_safe %>
              <label for="checkbox-right"></label>
            </div>
          </td>
          <td>
            <div class="slideThree tableRight">
              <%= type_user.actif ? "<input class='form-control' data-type_user='#{type_user.id}' type='checkbox' value='actif' checked>".html_safe : "<input class='form-control' data-type_user='#{type_user.id}' type='checkbox' value='actif'>".html_safe %>
              <label for="checkbox-right"></label>
            </div>
          </td>
        </tr>
      <% end %>
      <tr><td></td><td></td><td></td><td></td></tr>
      <tr>
        <td><input class="form-control" type="text" name="new_type_user" value="" placeholder="Nouveau type utilisateur"></td>
        <td>
          <div class="slideThree">
            <input class="form-control" type="checkbox" name="new_type_user_secure" value="secure">
            <label for="checkbox-right"></label>
          </div>
        </td>
        <td>
          <div class="slideThree">
            <input class="form-control" type="checkbox" name="new_type_user_tech" value="tech">
            <label for="checkbox-right"></label>
          </div>
        </td>
        <td>
            <input id="choose_rights_new_type_user" class="btn btn-success" type="button" name="choose_rights_new_type_user" value="Valider" data-target='#new_type_user_modal' data-toggle="modal">
        </td>
      </tr>
    </tbody>
</table>
</div>

<% @type_users.each do |type_user| %>

  <div class="container-modal modal-details-type-user">
    <div class="modal fade" id="<%= type_user.id%>" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Type utilisateur :</h4>
            <span class="type_user_name"><h5 class="modal-title" data-type_user="<%= type_user.id%>" ><%= type_user.name%></h5><%= image_tag 'ICONS/1004.png', size: "20x20", class: "edit_img" %></span>
          </div>
          <div class="modal-body">
            <h5>Champs type utilisateur : </h5>
            <div id="fields-user-type">
              <% type_user.field_type_user_type_users.each do |ftutu| %>
              <div class="row">
                <div class="col-md-4" id="fields-specs-types-values">
                  <%= select_tag 'new_field_user', options_for_select(@field_type_users.collect{|ftu| [ftu.name, ftu.id]}), class: "dropdownSearchCreate form-control" %>
                </div>
                <div class='col-md-4' id='div-btns-delete-row'>
                    <button class='btn btn-danger' id='btn-delete-row'>&#8211;</button>
                    <br><br>
                </div>
              </div>
              <% end %>
              <input data-id_type_user="<%= type_user.id %>" id="valid_new_field_user" class="btn btn-success" type="button" value="Valider">
            </div>


              <script type="text/javascript">
                $(document).ready(function(){
                  $(document).on('click', '#valid_new_field_user', function(){
                    $.newFieldUser = $(this).parent().parent().children("select#new_field_user").text();
                    var type_user_id = $(this).data("id_type_user");
                    console.log($.newFieldUser)
                    if( $.newFieldUser != ""){
                      $.ajax({
                        url: '/field_type_users',
                        type: 'POST',
                        dataType: 'script',
                        data: {
                          name: $.newFieldUser,
                          type_user_id: type_user_id
                        },
                        success: function(){
                          console.log("Okey");
                        },
                        error: function(result){
                          alert(result.responseText);
                        }
                      });
                    }
                  });
                });
              </script>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-modal" data-dismiss="modal">Fermer</button>
          </div>
        </div>

      </div>
    </div>

  </div>

<% end %>


<div class="container-modal">
  <!-- Modal -->
  <div class="modal fade" id="new_type_user_modal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Attribution des droits au type utilisateur</h4>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-12">
                <input type="text" name="new_type_user_modal" value="" placeholder="Nouveau type utilisateur" class="form-control">
              </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4 labels-checkboxes">
              <p>Sécurisé ?</p>
            </div>
            <div class="col-md-4 labels-checkboxes">
              <p>Technicien ?</p>
            </div>
            <div class="col-md-4 labels-checkboxes">
              <p>Actif ?</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="slideThree">
                <input class="form-control" type="checkbox" name="new_type_user_secure_modal" value="secure">
                <label for="checkbox-right"></label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="slideThree">
                <input class="form-control" type="checkbox" name="new_type_user_tech_modal" value="tech">
                <label for="checkbox-right"></label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="slideThree">
                <input class="form-control" type="checkbox" name="new_type_user_actif_modal" value="actif" checked>
                <label for="checkbox-right"></label>
              </div>
            </div>
          </div>
          <hr>
          <% @rights.each do |right| %>
          <div class="list-rights">
            <div class="row">
              <div class="col-md-6">
                <p><%= right.content %></p>
              </div>
                <div class="col-md-6">
                  <div class="slideThree">
                    <input class="form-control" type="checkbox" name="new_type_user_rights_checkbox" value="<%= right.id %>">
                    <label for="checkbox-right"></label>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button id="save_new_type_user" name="save_new_type_user" type="button" class="btn btn-success" data-dismiss="modal">Enregistrer</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
        </div>
      </div>

    </div>
  </div>

</div>


<script type="text/javascript">
  $(document).ready(function(){
    $(document).on('click', '.type_user_name', function(){
      $(this).removeClass('type_user_name');
      $.dataTypeUser = $(this).children("h5").data("type_user");
      $.h5Text = $(this).children("h5").html();
      $(this).children('img').addClass('save');
      $(this).children("h5").replaceWith('<h5 class="modal-title" data-type_user=' + $.dataTypeUser + '><input class="form-control" id="type_user_name_text"  type="text" value="' + $.h5Text + '"></h5>');
      $("#type_user_name_text").focus();
    });

    $(document).on('keyup','#type_user_name_text', function(e){
      if(e.keyCode == 13){
        $.this = $(this);
        $.finalText = $.this.val();
        $.this.parent("h5").parent("span").addClass('type_user_name');

        if($.finalText == $.h5Text){
          $('img.save').removeClass('save');
          $.this.replaceWith($.h5Text);
        }else{
          $.ajax({
            url: '/type_users/'+$.dataTypeUser,
            type: 'PUT',
            dataType: 'script',
            data: {
              type_user: {
                name: $.finalText
              }
            },
            success: function(result){
              $.this.parent("h5").parent("span").children('img').removeClass('save');
              $.this.parent("h5").replaceWith("<h5 class='modal-title' data-type_user='" + $.dataTypeUser + "'>" + $.finalText + "</h5>");
              // $("td").find("[data-target='#" + $.dataTypeUser + "']").replaceWith("<td data-toggle='modal' data-target='" + $.dataTypeUser + "'>" + $.finalText + "</td>");
              $("td[data-target='#" + $.dataTypeUser + "']").replaceWith("<td data-toggle='modal' data-target='#" + $.dataTypeUser + "'>" + $.finalText + "</td>");
            },
            error: function(result){
              $.this.parent("h5").parent("span").children('img').removeClass('save');
              $.this.parent("h5").replaceWith($.h5Text);
              alert(result.responseText);
            }
          });
        }

      }
    });
    $(document).on('focusout', '#type_user_name_text', function(){
      $(this).parent("h5").parent("span").addClass('type_user_name');
      $(this).parent("h5").parent("span").children('img').removeClass('save');
      $(this).replaceWith($.h5Text)
    });

    $(document).on("click", "div.tableRight", function(){
      $.clicked = $(this);
      var dataTypeUser = $.clicked.children('input[type="checkbox"]').data("type_user");
      if($.clicked.children('label').css("left") == "3px"){
        $.clicked.children('label').css("left", "43px");
        $.clicked.children('input[type="checkbox"]').prop('checked', true);
      }else{
        $.clicked.children('label').css("left", "3px");
        $.clicked.children('input[type="checkbox"]').prop('checked', false);
      }
      var secure = $("div.tableRight > input[value='secure'][data-type_user='" + dataTypeUser + "']").is(":checked");
      var is_tech = $("div.tableRight > input[value='is_tech'][data-type_user='" + dataTypeUser + "']").is(":checked");
      var actif = $("div.tableRight > input[value='actif'][data-type_user='" + dataTypeUser + "']").is(":checked");
      $.ajax({ // demarage ajax
        url: '/type_users/' + dataTypeUser, // url du controller rails
        type: 'PUT',
        dataType: 'script',
        data: {
          type_user:{
            secure: secure,
            is_tech: is_tech,
            actif: actif
          }
        },
        error: function(result){
          if($.clicked.children('label').css("left") == "3px"){
            $.clicked.children('label').css("left", "43px");
            $.clicked.children('input[type="checkbox"]').prop('checked', true);
          }else{
            $.clicked.children('label').css("left", "3px");
            $.clicked.children('input[type="checkbox"]').prop('checked', false);
          }
          alert(result.responseText);
        }
      });
    });

    // This is for save new user type with ajax
    var typeUserName;
    var secure;
    var tech;
    var actif;
    var rights = {};
    $('#choose_rights_new_type_user').click(function(){
      // Getting values
      typeUserName = $('input[name="new_type_user"]').val();
      secure = $('input[name="new_type_user_secure"]').is(":checked");
      tech = $('input[name="new_type_user_tech"]').is(":checked");
      actif = $('input[name="new_type_user_actif_modal"]').is(":checked");

      // Fill form in modal
      $("input[name='new_type_user_modal']").val(typeUserName);
      $("input[name='new_type_user_secure_modal']").prop("checked", secure);
      $("input[name='new_type_user_tech_modal']").prop("checked", tech);
    });
    $(document).on('click', '#save_new_type_user', function(){
      $("div.list-rights > div.row > div.col-md-6 > div.slideThree > input[name='new_type_user_rights_checkbox']").each(function(){
        rights[$(this).val()] = $(this).is(":checked");
      });
      $.ajax({ // demarage ajax
        url: '/type_users', // url du controller rails pour pinger (methode doPing)
        type: 'POST',
        dataType: 'script',
        data: {
          type_user_name: typeUserName,
          secure: secure,
          is_tech: tech,
          actif: actif,
          rights: rights
        },
        success: function(){
          window.reload();
        },
        error: function(result){
          for(var key in JSON.parse(result.responseText)){
            alert(key + " : " + JSON.parse(result.responseText)[key]);
          }
        }
      });

    });

    // This is for the yes/no buttons
    $(document).on('click', '.slideThree', function(){
      if($(this).children('label').css("left") == "3px"){
        $(this).children('label').css("left", "43px");
        $(this).children('input[type="checkbox"]').prop('checked', true);
      }else{
        $(this).children('label').css("left", "3px");
        $(this).children('input[type="checkbox"]').prop('checked', false);
      }
    });

  });
</script>
