<div class="table-responsive">
  <table class="table table-hover table-bordered table-type-users">
    <thead class="header">
      <tr>
        <th>Nom</th>
        <th>Securisé ?</th>
        <th>Technicien ?</th>
        <th>Actif ?</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><input class="form-control" type="text" name="new_type_user" value="" placeholder="Nouveau type utilisateur"></td>
        <td>
          <div class="slideThree">
            <input class="form-control" type="checkbox" name="new_type_user_secure" value="secure">
            <label for="checkbox-right"></label>
          </div>
        </td>
        <td>
          <div class="slideThree">
            <input class="form-control" type="checkbox" name="new_type_user_tech" value="tech">
            <label for="checkbox-right"></label>
          </div>
        </td>
        <td>
            <input id="choose_rights_new_type_user" class="btn btn-flat btn-success" type="button" name="choose_rights_new_type_user" value="+" data-target='#new_type_user_modal' data-toggle="modal">
        </td>
      </tr>
      <% @type_users.each do |type_user| %>
        <tr data-type-user="<%= type_user.id %>">
          <td data-toggle="modal" data-target="#<%= type_user.id %>"><%= type_user.name %></td>
          <td>
            <div class="slideThree tableRight">
              <%= type_user.secure ? "<input class='form-control' data-type_user='#{type_user.id}' type='checkbox' value='secure' checked>".html_safe : "<input class='form-control' data-type_user='#{type_user.id}' type='checkbox' value='secure'>".html_safe %>
              <label for="checkbox-right"></label>
            </div>
          </td>
          <td>
            <div class="slideThree tableRight">
              <%= type_user.is_tech ? "<input class='form-control' data-type_user='#{type_user.id}' type='checkbox' value='is_tech' checked>".html_safe : "<input class='form-control' data-type_user='#{type_user.id}' type='checkbox' value='is_tech'>".html_safe %>
              <label for="checkbox-right"></label>
            </div>
          </td>
          <td>
            <div class="slideThree tableRight">
              <%= type_user.actif ? "<input class='form-control' data-type_user='#{type_user.id}' type='checkbox' value='actif' checked>".html_safe : "<input class='form-control' data-type_user='#{type_user.id}' type='checkbox' value='actif'>".html_safe %>
              <label for="checkbox-right"></label>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% @type_users.each do |type_user| %>
  <div class="container-modal modal-details-type-user">
    <div class="modal fade" id="<%= type_user.id%>" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Type utilisateur :</h4>
            <i>Appuyez sur Entrée pour confirmer la modification</i>
            <input type="text" name="type_user_name_modal" data-type-user="<%= type_user.id%>" value="<%= type_user.name %>" class="form-control">
          </div>
          <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered table-type-users" id="table_field_type_user">
              <caption>Champs type utilisateur : </caption>
              <thead class="header">
                  <th>Nom : </th>
                  <th colspan="2"></th>
                </thead>
                <tbody>
                  <tr>
                    <td><%= select_tag 'new_field_type_user', options_for_select(@field_type_users.collect{|ftu| [ftu.name, ftu.id]}), class: "dropdownSearchCreate form-control" %></td>
                    <td><button type="button" class="btn btn-flat btn-success" id="bind" data-id-type-user="<%= type_user.id %>">+</button></td>
                  </tr>
                  <% type_user.field_type_user_type_users.each do |ftutu| %>
                  <tr>
                    <td><%= ftutu.field_type_user.name %></td>
                    <td><button type="button" class="btn btn-flat btn-danger" id="remove_ftutu" data-type-user-id="<%= type_user.id %>" data-field-type-user-id="<%= ftutu.field_type_user.id %>">-</button></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="delete_type_user" data-type-user='<%= type_user.id %>' class="btn btn-flat btn-danger btn-modal" data-dismiss="modal">Supprimer</button>
            <button type="button" class="btn btn-flat btn-default btn-modal" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="container-modal">
  <!-- Modal -->
  <div class="modal fade" id="new_type_user_modal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Attribution des droits au type utilisateur</h4>
          <i>C'est ici que vous attribuez les droits a ce nouveau type d'utilisateur</i>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-12">
                <input type="text" name="new_type_user_modal" value="" placeholder="Nouveau type utilisateur" class="form-control">
              </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4 labels-checkboxes">
              <p>Sécurisé ?</p>
            </div>
            <div class="col-md-4 labels-checkboxes">
              <p>Technicien ?</p>
            </div>
            <div class="col-md-4 labels-checkboxes">
              <p>Actif ?</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="slideThree">
                <input class="form-control" type="checkbox" name="new_type_user_secure_modal" value="secure">
                <label for="checkbox-right"></label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="slideThree">
                <input class="form-control" type="checkbox" name="new_type_user_tech_modal" value="tech">
                <label for="checkbox-right"></label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="slideThree">
                <input class="form-control" type="checkbox" name="new_type_user_actif_modal" value="actif" checked>
                <label for="checkbox-right"></label>
              </div>
            </div>
          </div>
          <hr>
          <table class="table table-hover table-bordered">
            <thead>
              <th>Droit concerné</th>
              <th>Accès</th>
            </thead>
            <tbody>
              <% @rights.each do |right| %>
              <tr>
                <td><%= right.content %></td>
                <td>
                  <div class="slideThree">
                    <input class="form-control right_access" type="checkbox" name="new_type_user_rights_checkbox" value="<%= right.id %>">
                    <label for="checkbox-right"></label>
                  </div>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button id="save_new_type_user" name="save_new_type_user" type="button" class="btn btn-flat btn-success" data-dismiss="modal">Enregistrer</button>
          
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :js do %>
  <%= javascript_include_tag 'type_users' %>
<% end %>
