<% @title = "Se connecter"%>
<% if current_user == nil %>
<% content_for :form do %>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1 class="home">Bienvenue sur la page d'accueil de TickMaster.</h1><br><br><br><br><br><br><br>
    <%= form_for(:session, :url => sessions_path, html: {class: "connect-user"}) do |f| %>
    <div class="field form-group">

      <% @arr = [] %>
      <%@arr = User.find_by_sql('SELECT users.pseudo FROM users INNER JOIN teches ON users.tech_id = teches.id WHERE teches.simple_user = false').collect{|u| u.pseudo}%>
      <%= f.text_field :pseudo, class: "form-control pseudo-entry", placeholder: "Pseudonyme(en minuscules)", id: 'next' %>
      <%= f.password_field :password, class: "form-control password-entry", placeholder: "Mot de passe" %>
      <script type="text/javascript">
        $(document).ready(function () {
          var count = "<%=User.find_by_sql('SELECT users.id, users.name, users.surname FROM users INNER JOIN teches ON users.tech_id = teches.id WHERE teches.simple_user = false').count%>";
          $(".password-entry").hide();
          $(".password-entry").val(' ');
          $(".pseudo-entry").keyup(function () {
            $(".alert").hide(100);
            for (var i = 0; i < count; i++) {
              if (<%= @arr.to_json.html_safe %>.indexOf($(".pseudo-entry").val()) > -1) {
                $(".pseudo-entry").attr('id', 'next');
                $(".password-entry").show(100);
                $(".password-entry").addClass('next');
                $(".password-entry").val('');
              } else {
                $(".password-entry").hide(100);
                $(".password-entry").val(' ');
                $(".password-entry").attr('id', '');
              }
            }
          });

            $(".pseudo-entry").change(function () {
              $(".alert").hide(100);
              for (var i = 0; i < count; i++) {
                if (<%=@arr.to_json.html_safe%>.indexOf($(".pseudo-entry").val()) > -1) {
                  $(".password-entry").show(100);
                  $(".password-entry").focus();
                  $(".pseudo-entry").attr('id', 'next');
                  $(".password-entry").addClass('next');
                  $(".password-entry").val('');
                } else {
                    $(".password-entry").hide(100);
                  $(".password-entry").val(' ');
                }
              }
            });
        });
      </script>
      <% if flash.now[:error] != nil %>
      <div class="alert alert-danger">
        <%= flash.now[:error]%>
      </div>
      <% end %>
    </div>
    <div class="actions form-group">
      <%= f.submit "Se connecter", id: "sendButton", class: "btn btn-validate" %><br>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= link_to "Pas encore inscrit ?", signup_path, class: "btn btn-inscription"%>
      </div>
    <div class="col-md-6">
      <%= link_to 'Pseudonyme oublié ?', forget_identifiers_user_path(:id), class: "btn btn-pseudo" %>
    </div>
    </div>
    <% end %>

  </div>
  <div class="col-md-4"></div>
</div>
<% end %>
<%else %>
<p class="alert_non_authorized" id="connected">
  <%= flash.now[:not_authorized] = "Vous êtes déjà connecté !"%>
</p>

<% end %>
