<p id="notice"><%= notice %></p>

<p>
  <strong>Type user:</strong>
  <%= @field_type_user.type_user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @field_type_user.name %>
</p>

<%= link_to 'Edit', edit_field_type_user_path(@field_type_user) %> |
<%= link_to 'Back', field_type_users_path %>
