<%= form_for @incident, html: { multipart: true } do |f| %>
<br>
  <div class="field">
    <%= f.label "Catégorie", :class => 'form-interface'  %><br>
    <%= select_tag "incident[category_id]", options_for_select(@categories.collect{|category| [category.name.titleize, category.id]}), {:class => "form-control form-interface", include_blank: "", required: true}%><br>
    <%= select_tag "incident[sous_category_id]", options_for_select(@sous_categories.collect{|sous_category| [sous_category.name.titleize, sous_category.id]}), {:class => "form-control form-interface", include_blank: "", required: true } %>
  </div>
    <br>
<script type="text/javascript">
  $(document).ready(function(){
    $("#incident_sous_category_id").hide();
    $("#incident_category_id").change(function(){
      $("#incident_sous_category_id").show(250);
    });
  });
</script>
    <div class="field">
      <%= f.label "Objet", :class => 'form-interface' %><br>
      <%= f.text_field :title, :class => "form-control form-interface", required: true  %>
      <% if @incident.errors[:title].first != nil %>
      <div class="alert alert-danger">
        <%= "Objet " + @incident.errors[:title].first%><br><br>
      </div>
      <% end %>
  </div><br>


<div class="field">
  <%= f.label "Description", :class => 'form-interface'  %><br>
  <%= f.cktext_area :content, :id => 'incident_content incident_content', ckeditor: {uiColor: '#555555'}, required: true %>
  <% if @incident.errors[:content].first != nil %>
  <div class="alert alert-danger">
    <%= "Description " + @incident.errors[:content].first %><br><br>
  </div>
  <% end %>
</div><br>

<div class="field"><br>
  <%= f.label "Niveau d'urgence", :class => 'form-interface'  %><br>
  <div class="form-interface">
    <b>Bas</b><%= text_field_tag "incident[lvl_urgence_user]", :class => 'form-interface slider-bootstrap' , type: 'range', data: {
      'slider-min' => 1,
      'slider-max' => 10,
      'slider-tooltip' => 'hide',
      'slider-step' => 1}%><b>Haut</b><br><br>
    </div>
  </div>
<script type="text/javascript">
$("#incident_lvl_urgence_user").slider();

</script>
<div class="fallback" id="filesinputs">
    <%= fields_for :file_incidents, @incident.file_incidents do |i| %>
      <%= i.file_field :file, name: "file_incidents[file][]", multiple: false, id: "attachfile" %>
    <% end %>
</div>
<div id="filelist">

</div>

<div class="actions">
  <%= f.submit "Envoyer", id: "sendButton", class: "btn btn-success btn-response", data: { confirm: 'Êtes vous sûr ?' } %>
</div>
<% end %>
<script type="text/javascript">
var selDiv = "";
var storedFiles = []; //store the object of the all files

document.addEventListener("DOMContentLoaded", init, false);

function init() {
   //To add the change listener on over file element
   document.querySelector('#attachfile').addEventListener('change', handleFileSelect, false);
   //allocate division where you want to print file name
   selDiv = document.querySelector("#filelist");
}

//function to handle the file select listenere
function handleFileSelect(e) {
   //to check that even single file is selected or not
   if(!e.target.files) return;

   //for clear the value of the selDiv
   selDiv.innerHTML = "";

   //get the array of file object in files variable
   var files = e.target.files;
   var filesArr = Array.prototype.slice.call(files);

   //print if any file is selected previosly
   for(var i=0;i<storedFiles.length;i++)
   {
       selDiv.innerHTML += "<div class='filename'> <span> " + storedFiles[i].name + "</span></div>";
   }
   filesArr.forEach(function(f) {
       //add new selected files into the array list
       storedFiles.push(f);
       //print new selected files into the given division
       selDiv.innerHTML += "<div class='filename'> <span> " + f.name + "</span></div>";
   });
   $('html, body').animate({
     scrollTop: 100000
   }, 500);

   //store the array of file in our element this is send to other page by form submit
}
</script>
<script type="text/javascript">
var divAppended = document.getElementById("filesinputs");
var input = document.getElementById("attachfile");
input.addEventListener('change', function(e) {
  e = e || window.event;
  e.preventDefault();
  var nI = document.createElement('input');
  nI.type = 'file';
  nI.style.display = 'none';
  nI.multiple = 'true';
  nI.name = 'file_incidents[file]';
  document.getElementById('attachfile').appendChild(nI);
}, false);
</script>
<script type="text/javascript">
</script>
