<%= form_for @incident, html: { multipart: true, id: "my-awesome-dropzone", class: '' } do |f| %>
<br>
  <div class="row">

  <div class="field">
    <%= f.label "Catégorie", :class => 'form-interface'  %><br>
    <%= select_tag "incident[category_id]", options_for_select(@categories.collect{|category| [category.name.titleize, category.id]}), {:class => "form-control form-interface", include_blank: ""}%>
  </div>
</div>
<div class="row">
    <br>
    <div class="field">
    <%= f.label "Sous-Catégorie", :class => 'form-interface'  %><br>

    <%= select_tag "incident[sous_category_id]", options_for_select(@sous_categories.collect{|sous_category| [sous_category.name.titleize, sous_category.id]}), {:class => "form-control form-interface", include_blank: "" } %>
    <br>
  </div>
  </div>

  <div class="row">
    <div class="field">
      <%= f.label "Objet", :class => 'form-interface' %><br>
      <%= f.text_field :title, :class => "form-control form-interface"  %>
      <% if @incident.errors[:title].first != nil %>
      <div class="alert alert-danger">
        <%= "Objet " + @incident.errors[:title].first%><br><br>
      </div>
      <% end %>
    </div>
  </div><br>


<div class="field">
  <%= f.label "Description", :class => 'form-interface'  %><br>
  <%= f.cktext_area :content, :id => 'incident_content incident_content', ckeditor: {uiColor: '#555555'} %>
  <% if @incident.errors[:content].first != nil %>
  <div class="alert alert-danger">
    <%= "Description " + @incident.errors[:content].first %><br><br>
  </div>
  <% end %>
</div><br>
<div class="field"><br>
  <%= f.label "Niveau d'urgence", :class => 'form-interface'  %><br>
  <div class="form-interface">
    <b>Bas</b><%= text_field_tag "incident[lvl_urgence_user]", :class => 'form-interface slider-bootstrap' , type: 'range', data: {
      'slider-min' => 1,
      'slider-max' => 10,
      'slider-tooltip' => 'hide',
      'slider-step' => 1}%><b>Haut</b><br><br>
    </div>
  </div>
<script type="text/javascript">
$("#incident_lvl_urgence_user").slider();

</script>
<div class="fallback">
    <%= fields_for :file_incidents, @incident.file_incidents do |i| %>
                <%= f.file_field :file, name: "file", multiple: true %>
    <% end %>
</div>
<div class="dropzone-previews">

</div>

<div class="actions">
<button type="button" name="button" class="btn btn-success btn-response" id="btn-send">Envoyer</button>
</div>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
  // disable auto discover
  Dropzone.autoDiscover = false;

  var dropzone = new Dropzone (".dropzone", {
    maxFilesize: 50, // Set the maximum file size to 50 MB
    paramName: "file_incidents[file]", // Rails expects the file upload to be something like model[field_name]
    addRemoveLinks: false, // Don't show remove links on dropzone itself.
    autoProcessQueue: false, // Don't send automatically form
    uploadMultiple: true, // Allow multiple files
    maxFiles: 5, // Maximum select 5 files
    previewsContainer: '.dropzone-previews'
  });
});

$(document).ready(function{
  $("#btn-send").click(function(){
    myDropzone.processQueue();
  });
});

</script>
