<%= form_for @incident, html: { multipart: true } do |f| %>
<br>
<div class="row">
<div class="col-md-4">
  <div class="field">
    <%= f.label "Catégorie", :class => ''  %><br>
    <%= select_tag "incident[category_id]", options_for_select(@categories.collect{|category| [category.name.titleize, category.id]}), {:class => "form-control ", include_blank: "", required: true}%><br>
    <%= select_tag "incident[sous_category_id]", options_for_select(@sous_categories.collect{|sous_category| [sous_category.name.titleize, sous_category.id]}), {:class => "form-control ", include_blank: "", required: true } %>
  </div>
    <br>
<script type="text/javascript">
  $(document).ready(function(){
    $("#incident_sous_category_id").hide();
    $("#incident_category_id").change(function(){
      $("#incident_sous_category_id").show(250);
    });
  });
</script>
    <div class="field">
      <%= f.label "Objet", :class => '' %><br>
      <%= f.text_field :title, :class => "form-control ", required: true  %>
      <% if @incident.errors[:title].first != nil %>
      <div class="alert alert-danger">
        <%= "Objet " + @incident.errors[:title].first%><br><br>
      </div>
      <% end %>
    </div><br>
  <div class="field"><br>
    <%= f.label "Niveau d'urgence", :class => ''  %><br>
    <div class="lvl_urgence_slider">
      <b>Bas</b><%= f.text_field :lvl_urgence_user, class: "slider-bootstrap", type: 'range', min: 0,max: 10, step: 1, value: 1 %><b>Haut</b><br><br>
      </div>
    </div>
</div>


  <div class="col-md-8">
<div class="field">
  <%= f.text_area :content, class: 'froalaEditor' %>
  <% if @incident.errors[:content].first != nil %>
  <div class="alert alert-danger">
    <%= "Description " + @incident.errors[:content].first %><br><br>
  </div>
  <% end %>
</div><br>
</div>
</div>

<div class="actions">
  <ul class="buttons-edit-incident-right buttons">
    <li><%= f.submit "Valider", id: "sendButton", class: "btn btn-flat btn-success btn-save " %></li>
    <li><%= link_to 'Annuler', current_user, class: "btn btn-flat btn-danger btn-cancel", data: { confirm: 'Êtes vous sûr de vouloir annuler (les modifications seront perdues) ?'}  %></li>
  </ul>



</div>
<% end %>
