<%= form_for @incident, html: { multipart: true } do |f| %>
<% if @incident.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@incident.errors.count, "error") %>
    prohibited this incident from being saved:</h2>

  <ul>
    <% @incident.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<br>
<div class="row">
  <div class="col-md-4">
      <div class="field">
          <p>
          Date :
          <%= @incident.created_at.strftime("%d %b %Y %H:%M") %></p>
          <p style="cursor:pointer;" data-toggle="modal" data-target="#<%= @incident.user.id %>">Demandeur : <%= @incident.user.surname + ' ' + @incident.user.name %></p>
          <div class="container-modal">
            <!-- Modal details demandeur -->
            <div class="modal fade" id="<%= @incident.user.id %>" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Details de l'utilisateur :
                      <%= @incident.user.surname + ' ' + @incident.user.name %></h4>
                  </div>
                  <div class="modal-body">
                    <p>Prenom : <%= @incident.user.surname %></p>
                    <p>Nom : <%= @incident.user.name %></p>
                    <p>Pseudo : <%= @incident.user.pseudo %></p>
                    <p>Mail : <a style="color:dimgrey !important;" href="mailto:<%= @incident.user.email %>"><%= @incident.user.email%></a></p>
                    <p>Tel : <%= @incident.user.tel %></p>
                    <p>Agence : <%= @incident.user.agency.name %></p>
                  </div>
                  <div class="modal-footer">
                    <%= link_to "Détails", profil_user_path(@incident.user), class: "btn btn-flat btn-primary"%>
                    <button type="button" class="btn btn-flat btn-danger" data-dismiss="modal">Fermer</button>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <p>Etat de l'incident :
          <% if current_user.type_user.is_tech == true %>
        <%= @incident.incident_state_id_for_user.name %></p>
        <% else %>
        <%= @incident.incident_state_id_for_tech.name  %></p>
        <% end %><br>
      </div>
    <div class="field">
      <%= f.label "Objet", class: ""  %><br>
      <% if @edit_incidents %>
      <%= f.text_field :title, class: "form-control "  %>
      <% else %>
      <%= f.text_field :title, disabled: "disabled", class: "form-control "  %>
      <% end %>
    </div>

    <div class="field tech_name">
      <%= f.label "Nom du technicien", class: ""  %>
      <% if @without_tech_incidents %>
      <% case @incident.incident_state_id_for_user_id %>
      <% when 7, 10%>
      <%= select_tag "incident[tech_id]", options_for_select(User.joins(:type_user).where("type_users.is_tech = ?", true).collect{|u| [[u.name, u.surname].join(' '), u.id]}, selected: @incident.tech_id), disabled: 'disabled', class: "form-control ", data_name: @incident.id  %>
      <% else %>
      <%= select_tag "incident[tech_id]", options_for_select(User.joins(:type_user).where("type_users.is_tech = ?", true).collect{|u| [[u.name, u.surname].join(' '), u.id]}, selected: @incident.tech_id), class: "form-control ", include_blank: "Technicien non défini...", data_name: @incident.id  %>
      <% end %>
      <% else %>
      <%= select_tag "incident[tech_id]", options_for_select(User.joins(:type_user).where("type_users.is_tech = ?", true).collect{|u| [[u.name, u.surname].join(' '), u.id]}, selected: @incident.tech_id), include_blank: "Technicien non défini...", disabled: 'disabled', class: "form-control ", data_name: @incident.id  %>
      <% end %>
    </div>
    <div class="field category_name">
      <%= f.label "Catégorie de l'incident", class: ""  %><br>
      <% if @edit_categories_incidents %>
      <% case @incident.incident_state_id_for_user_id %>
      <% when 7, 10 %>
      <%= select_tag("incident[category_id]", options_for_select(@categories.collect{ |u| [u.name, u.id]}, selected: @incident.category_id), disabled: "disabled", class: "form-control ")%>
      <% else %>
      <%= select_tag("incident[category_id]", options_for_select(@categories.collect{ |u| [u.name, u.id]}, selected: @incident.category_id), class: "form-control " )%>
      <% end %>
      <% else %>
      <%= select_tag("incident[category_id]", options_for_select(@categories.collect{ |u| [u.name, u.id]}, selected: @incident.category_id), disabled: "disabled", class: "form-control ")%>
      <% end %>
    </div>

    <div class="field">
      <%= f.label "Sous_Catégorie de l'incident", class: ""  %><br>
      <% if @edit_categories_incidents %>
      <% case @incident.incident_state_id_for_user_id %>
      <% when 7, 10 %>
      <%= select_tag("incident[sous_category_id]", option_groups_from_collection_for_select(@categories, :sous_categories, :name, :id, :name, selected: @incident.sous_category_id), disabled: "disabled", class: "form-control " )%>
      <% else %>
      <%= select_tag("incident[sous_category_id]", option_groups_from_collection_for_select(@categories, :sous_categories, :name, :id, :name, selected: @incident.sous_category_id), class: "form-control " )%>
      <% end %>
      <% else %>
      <%= select_tag("incident[sous_category_id]", option_groups_from_collection_for_select(@categories, :sous_categories, :name, :id, :name, selected: @incident.sous_category_id), disabled: "disabled", class: "form-control " )%>
      <% end %>

    </div>
    <div class="field">
      <%= f.label "Niveau d'urgence suggéré par le technicien", class: ""  %><br>
        <% case @incident.lvl_urgence_tech %>
        <% when 1%>
        <%= select_tag("incident[lvl_urgence_tech]", '<option value="1" selected="selected">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
        <% when 2%>
        <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2" selected="selected">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
        <% when 3%>
        <!--A AMELIORER-->
        <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3" selected="selected">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
        <% when 4%>
        <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4" selected="selected">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
        <% when 5%>
        <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5" selected="selected">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
        <% when 6%>
        <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6" selected="selected">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
        <% when 7%>
        <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7" selected="selected">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
        <% when 8%>
        <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8" selected="selected">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
        <% when 9%>
        <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9" selected="selected">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
        <% when 10%>
        <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10" selected="selected">10</option>'.html_safe, class: "form-control ")%>
        <% else %>
        <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ", include_blank: true)%>
        <% end %>
    </ul>
  </div>
  <div class="field">
    <% if @edit_lvl_incident %>
    <%= f.label "Niveau d'urgence suggéré par l'utilisateur", class: ""%>
    <p class="form-control ">
      <%= @incident.lvl_urgence_user %>
    </p>
    <% end %>

  </div>


  </div>
  <div class="col-md-8">
    <div class="field">
      <%= f.label "Contenu", class: ""  %><br>
      <% if @edit_incidents %>
      <%=f.cktext_area :content, :ckeditor => {:language => 'fr'}, :id => 'incident_content incident_content', :class => "form-control "%>
      <% else %>
      <%=f.cktext_area :content, :ckeditor => {:language => 'fr'}, :id => 'incident_content incident_content', :class => "form-control ", :disabled => "disabled"%>
      <% end %>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= f.label "Fichiers :"%><br>
    <% @incident.file_incidents.each do |file|%>
    <% if file.content_type.include?("image") %>
    <%= link_to "#{image_tag(file.file_url, size: '800x400')}".html_safe, file.file_url%>
    <% else %>
    <%= link_to("#{file.file_identifier}", file.file_url, action: :download, class: "form-control btn-link-pj btn btn-default") %>
    <% end %>
    <br><br>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="actions">
      <% if !clotured_or_rejected?(@incident) %>
      <% if @save_changes_of_edit %>
      <ul class="buttons-edit-incident-right valider">
        <li>
          <%= f.submit "Enregistrer", id: "sendButton", class: "sendButton btn btn-save " %>
        </li>
      </ul>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
