<%= form_for @incident, html: { multipart: true } do |f| %>
<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="field">
          <p>
          Date :
          <%= @incident.created_at.strftime("%d %b %Y %H:%M") %></p>
          <p style="cursor:pointer;" data-toggle="modal" data-target="#<%= @incident.user.id %>">Demandeur : <%= @incident.user.surname + ' ' + @incident.user.name %></p>
          <div class="container-modal">
            <!-- Modal details demandeur -->
            <div class="modal fade" id="<%= @incident.user.id %>" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Details de l'utilisateur :
                      <%= @incident.user.surname + ' ' + @incident.user.name %></h4>
                  </div>
                  <div class="modal-body">
                    <p>Mail : <a style="color:dimgrey !important;" href="mailto:<%= @incident.user.email %>"><%= @incident.user.email%></a></p>
                    <p>Tel : <a style="color:dimgrey !important;" href="mailto:<%= @incident.user.tel %>"><%= @incident.user.tel %> </a></p>
                    <p>Agence : <%= @incident.user.agency.name %></p>
                  </div>
                  <div class="modal-footer">
                    <%= link_to "Détails", edit_user_path(@incident.user), class: "btn btn-flat btn-primary"%>

                  </div>
                </div>

              </div>
            </div>

          </div>

          <p>Etat de l'incident :
          <% if current_user.type_user.is_tech == false %>
        <%= @incident.incident_state_id_for_user.name %></p>
        <% else %>
        <%= @incident.incident_state_id_for_tech.name  %></p>
        <% end %><br>
      </div>
    <div class="field">
      <%= f.label "Objet"  %><br>
      <% if current_user.can?('update_incidents') %>
      <%= f.text_field :title, class: "form-control "  %>
      <% else %>
      <%= f.text_field :title, disabled: "disabled", class: "form-control "  %>
      <% end %>
    </div>

    <div class="field tech_name">
      <%= f.label "Nom du technicien"  %>
      <% if current_user.can?('update_incidents') %>
      <% case @incident.incident_state_id_for_user_id %>
      <% when 7, 10%>
      <%= select_tag "incident[tech_id]", options_for_select(User.joins(:type_user).where("type_users.is_tech = ?", true).collect{|u| [[u.name, u.surname].join(' '), u.id]}, selected: @incident.tech_id), disabled: 'disabled', class: "form-control ", data: { id: @incident.id } %>
      <% else %>
      <%= select_tag "incident[tech_id]", options_for_select(User.joins(:type_user).where("type_users.is_tech = ?", true).collect{|u| [[u.name, u.surname].join(' '), u.id]}, selected: @incident.tech_id), class: "form-control ", include_blank: "Technicien non défini...", data: { id: @incident.id } %>
      <% end %>
      <% else %>
      <%= select_tag "incident[tech_id]", options_for_select(User.joins(:type_user).where("type_users.is_tech = ?", true).collect{|u| [[u.name, u.surname].join(' '), u.id]}, selected: @incident.tech_id), include_blank: "Technicien non défini...", disabled: 'disabled', class: "form-control ", data: { id: @incident.id } %>
      <% end %>
    </div>
    <div class="field category_name">
      <%= f.label "Catégorie de l'incident"  %><br>
      <% if current_user.can?('update_incidents') %>
      <% case @incident.incident_state_id_for_user_id %>
      <% when 7, 10 %>
      <%= select_tag("incident[category_id]", options_for_select(@categories.collect{ |u| [u.name, u.id]}, selected: @incident.category_id), disabled: "disabled", class: "form-control ")%>
      <% else %>
      <%= select_tag("incident[category_id]", options_for_select(@categories.collect{ |u| [u.name, u.id]}, selected: @incident.category_id), class: "form-control " )%>
      <% end %>
      <% else %>
      <%= select_tag("incident[category_id]", options_for_select(@categories.collect{ |u| [u.name, u.id]}, selected: @incident.category_id), disabled: "disabled", class: "form-control ")%>
      <% end %>
    </div>

    <div class="field">
      <%= f.label "Sous_Catégorie de l'incident"  %><br>
      <% if current_user.can?('update_incidents') %>
      <% case @incident.incident_state_id_for_user_id %>
      <% when 7, 10 %>
      <%= select_tag("incident[sous_category_id]", option_groups_from_collection_for_select(@categories, :sous_categories, :name, :id, :name, selected: @incident.sous_category_id), disabled: "disabled", class: "form-control " )%>
      <% else %>
      <%= select_tag("incident[sous_category_id]", option_groups_from_collection_for_select(@categories, :sous_categories, :name, :id, :name, selected: @incident.sous_category_id), class: "form-control " )%>
      <% end %>
      <% else %>
      <%= select_tag("incident[sous_category_id]", option_groups_from_collection_for_select(@categories, :sous_categories, :name, :id, :name, selected: @incident.sous_category_id), disabled: "disabled", class: "form-control " )%>
      <% end %>

    </div>
    <div class="field">
      <%= f.label "Niveau d'urgence suggéré par le technicien" %><br>
      <% if current_user.can?('update_incidents') %>
      <% case @incident.lvl_urgence_tech %>
      <% when 1%>
      <%= select_tag("incident[lvl_urgence_tech]", '<option value="1" selected="selected">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
      <% when 2%>
      <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2" selected="selected">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
      <% when 3%>
      <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3" selected="selected">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
      <% when 4%>
      <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4" selected="selected">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
      <% when 5%>
      <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5" selected="selected">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
      <% when 6%>
      <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6" selected="selected">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
      <% when 7%>
      <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7" selected="selected">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
      <% when 8%>
      <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8" selected="selected">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
      <% when 9%>
      <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9" selected="selected">9</option><option value="10">10</option>'.html_safe, class: "form-control ")%>
      <% when 10%>
      <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10" selected="selected">10</option>'.html_safe, class: "form-control ")%>
      <% else %>
      <%= select_tag("incident[lvl_urgence_tech]", '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>'.html_safe, class: "form-control ", include_blank: true)%>
      <% end %>
      <% else %>
      <p class="form-control">
        <%= @incident.lvl_urgence_tech %>
      </p>

      <% end %>

    </ul>
  </div>
  <div class="field">
    <% if current_user.can?('update_incidents') %>
    <%= f.label "Niveau d'urgence suggéré par l'utilisateur" %>
    <p class="form-control">
      <%= @incident.lvl_urgence_user %>
    </p>
    <% end %>
  </div>


  </div>
  <div class="col-sm-12 col-md-8 col-lg-8">
    <div class="field">
      <%= f.label "Contenu"  %><br>
      <% if current_user.can?('update_incidents') %>
      <%= f.text_area :content, class: 'froalaEditor' %>
      <% else %>
      <%= f.text_area :content, class: 'froalaEditor', disabled: true %>
      <% end %>
    </div>

  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <% if current_user.can?('create_procedures') %>
      <div class="col-sm-12 col-md-2 col-lg-2">
        <button type='button' name='create_procedures' data-id='<%= @incident.id %>' class='btn btn-flat btn-block btn-default'>Procédure</button>
      </div>
    <% end %>
      <% unless @incident.clotured_or_rejected? %>
        <% if current_user.can?('reject_incidents') %>
          <div class="col-sm-12 col-md-2 col-lg-2">
            <button type="button" name="reject_incidents" data-id='<%= @incident.id %>' class="btn btn-warning btn-block btn-flat">Rejeter</button>
          </div>
        <% end %>
        <% if current_user.can?('cloture_incidents') %>
          <div class="col-sm-12 col-md-2 col-lg-2">
            <button type="button" name="cloture_incidents" data-id='<%= @incident.id %>' class="btn btn-success btn-block btn-flat">Cloturer</button>
          </div>
        <% end %>
        <% if current_user.can?('reaffect_incidents') %>
          <div class="col-sm-12 col-md-2 col-lg-2">
            <button type="button" name="reaffect_incidents" data-id='<%= @incident.id %>' class="btn btn-danger btn-block btn-flat">Réaffecter</button>
          </div>
        <% end %>
        <% if current_user.can?('update_incidents') %>
          <div class="col-sm-12 col-md-2 col-lg-2">
            <%= f.button "Enregistrer", class: "btn btn-primary btn-block btn-flat" %>
          </div>
        <% end %>
      <% end %>
  </div>

</div>

<% end %>
