<% @title = "Incident n°#{@incident.id} de #{@incident.user.name} #{@incident.user.surname}" %>
<% if !current_user.nil? && Right.where(name: "view_detail_incident").pluck(current_user.tech.name).join('')  == 'true' %>
  <%= render 'form_edit' %>
  <!-- Contenu si l'incident n'est pas cloturé -->
  <% if !clotured_or_rejected?(@incident)%>
  <div class="table-responsive messages_in_edit_incident">
    <h3>Messages envoyés :</h3>
    <table class="table table-hover">
      <thead class="header">
        <tr>
          <th>Contenu</th>
          <th>Contenu supplémentaire</th>
          <th>Expéditeur</th>
          <th>Destinataire</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% Response.find_by_sql("SELECT `responses`.* FROM `responses` WHERE `incident_id` = #{@incident.id}").each do |response| %>
        <tr>
          <td class="hover-cellule <%= response.id %>">
            <%= truncate(strip_tags(response.content), length: 40) %>
          </td>
          <% if !response.file_responses.nil? %>
            <td>
              <ol>
                <% response.file_responses.each do |file| %>
                  <li><%= link_to("#{file.file_identifier}", file.file_url, action: :download, class: 'btn btn-default')%></li>
                <% end %>
              </ol>
            </td>
          <% else %>
            <td>Aucun</td>
          <% end %>
          <td><%= User.where(id: response.sender_id).pluck(:name, :surname).join(' ') %></td>
          <% if !response.receiver_id.nil? %>
            <td><%= User.where(id: response.receiver_id).pluck(:name, :surname).join(' ') %></td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= response.created_at.strftime("%d %b %Y %H:%M") %></td>
        </tr>
        <div class="response-hover-cellule <%= response.id %>">
          <div class="menu-response-hover-cellule">
            <p class="btn btn-danger cross-close-response-hover-cellule">X</p>
            <h1 style="text-align:center;">Contenu détaillé du message</h1>
          </div><br>
          <div class="content-response-hover-cellule">
            <%= strip_tags(response.content) %>
          </div>
        </div>
        <script type="text/javascript">
          $(document).ready(function () {
            $(".response-hover-cellule.<%= response.id%>").hide();
            $(".hover-cellule.<%= response.id %>").click(function () {
              $(".response-hover-cellule").hide(450);
              $(".response-hover-cellule.<%= response.id%>").show(500);
            });
            $(".cross-close-response-hover-cellule").click(function () {
              $(".response-hover-cellule").hide(450);
            });
          });
        </script>
        <% end %>
      </tbody>
    </table>
  </div>

  <% else %>



  <!-- Contenu si l'incident est cloturé  -->
  <div class="table-responsive messages_in_edit_incident">
    <h3>Messages envoyés :</h3>
    <table class="table table-hover">
      <thead class="header">
        <tr>
          <th>Contenu</th>
          <th>Contenu-supplémentaire</th>
          <th>Expéditeur</th>
          <th>Destinataire</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% Archive.find_by_sql("SELECT * FROM `archives` WHERE `incident_id` = #{@incident.id}").each do |response| %>
        <% file_responses = FileArchive.where(archive_id: response.id) %>
        <tr>
          <td class="hover-cellule <%= response.id %>">
            <%= truncate(strip_tags(response.content), length: 40) %>
          </td>
          <% if !file_responses.nil? %>
            <td>
              <ol>
                <% file_responses.each do |file| %>
                  <li><%= link_to("#{file.file_identifier}", file.file_url, action: :download, class: 'btn btn-default')%></li>
                <% end %>
              </ol>
            </td>
          <% else %>
            <td>Aucun</td>
          <% end %>
          <td><%= User.where(id: response.sender_id).pluck(:name, :surname).join(' ') %></td>
          <% if !response.receiver_id.nil? %>
            <td><%= User.where(id: response.receiver_id).pluck(:name, :surname).join(' ') %></td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= response.created_at.strftime("%d %b %Y %H:%M") %></td>
        </tr>
        <div class="response-hover-cellule <%= response.id %>">
          <div class="menu-response-hover-cellule">
            <p class="btn btn-danger cross-close-response-hover-cellule">X</p>
            <h1 style="text-align:center;">Contenu détaillé du message</h1>
          </div><br>
          <div class="content-response-hover-cellule">
            <%= strip_tags(response.content) %>
          </div>
        </div>
        <script type="text/javascript">
          $(document).ready(function () {
            $(".response-hover-cellule.<%= response.id%>").hide();
            $(".hover-cellule.<%= response.id %>").click(function () {
              $(".response-hover-cellule").hide(450);
              $(".response-hover-cellule.<%= response.id%>").show(500);
            });
            $(".cross-close-response-hover-cellule").click(function () {
              $(".response-hover-cellule").hide(450);
            });
          });
        </script>

      <% end %>
    </tbody>
  </table>
  </div>
  <% end %>
  <% if !clotured_or_rejected?(@incident)%>
  <button class="btn btn-primary btn-response btn-response-icon btn-response-bottom" name="button" type="button">Message</button>
  <div id="form_response">
  <%= render 'responses/new' %>
  </div>

  <script>
  $(document).ready(function () {
    $("#form_response").hide();
    $(".btn-response").click(function () {
      $(".actionsreject").hide()
      $(".actionsresponses").show()
      $(".actionsreaffect").hide()
      $(".actionscloture").hide()
      $("#form_response").slideDown(500);
      $('html, body').animate({
        scrollTop: 100000
      }, 500);
    });
  });
  $(document).ready(function () {
    $(".btn-reject").click(function () {
      $(".actionsreject").show()
      $(".actionsreaffect").hide()
      $(".actionscloture").hide()
      $(".actionsresponses").hide()
      $("#form_response").slideDown(500);
      $('html, body').animate({
        scrollTop: 100000
      }, 500);
    });
  });
  $(document).ready(function () {
    $(".btn-reaffect").click(function () {
      $(".actionsreject").hide()
      $(".actionsresponses").hide()
      $(".actionscloture").hide()
      $(".actionsreaffect").show()
      $("#form_response").slideDown(500);
      $('html, body').animate({
        scrollTop: 100000
      }, 500);
    });
  });
  $(document).ready(function () {
    $(".btn-cloture").click(function () {
      $(".actionsreject").hide()
      $(".actionsresponses").hide()
      $(".actionscloture").show()
      $(".actionsreaffect").hide()
      $("#form_response").slideDown(500);
      $('html, body').animate({
        scrollTop: 100000
      }, 500);
    });
  });
  $(document).ready(function () {
    $(".btn-cancell").click(function () {
      $("#form_response").slideToggle(500);
      $('html, body').animate({
        scrollTop: 100000
      }, 500);
    });
  });
  </script>
  <% if @incident.incident_state_id_for_tech != 12 && Right.where(name: "ask_for_reaffect").pluck(current_user.tech.name).join('')  == 'true' && @incident.tech_id == current_user.id && !clotured_or_rejected?(@incident)%>
  <button class="btn btn-warning btn-reaffect" name="button" type="button">Réaffecter</button>
  <% end %>
  <% if Right.where(name: "cloture_incidents").pluck(current_user.tech.name).join('')  == 'true'%>
  <button class="btn btn-success btn-cloture" name="button" type="button">Cloturer</button>
  <% end %>
  <% if Right.where(name: "reject_incidents").pluck(current_user.tech.name).join('')  == 'true'%>
  <button class="btn btn-danger btn-reject" name="button" type="button">Rejeter</button>
  <% end %>
  <% end %>
<%else%>
  <% @title = "Accès non autorisé"%>
  <%= flash.now[:notice] = "Vous n'avez pas l'autorisation d'accéder à cette page" %>
<% end %>
