<% @title = "Liste de tous les incidents" %>
<% if RightsController.verify_rights_for("view_index_all_of_incidents", current_user) then %>
  <div class="tri-cards-list-incidents">
    <ul>
      <li class="btn btn-default btn-tri-cards-list-incidents" data-tri="id asc">0 > 1</li>
      <li class="btn btn-default btn-tri-cards-list-incidents" data-tri="id desc">1 > 0</li>
      <li class="btn btn-default btn-tri-cards-list-incidents" data-tri="title asc">a > b</li>
      <li class="btn btn-default btn-tri-cards-list-incidents" data-tri="title desc">b > a</li>
    </ul>
  </div>

  <div class="cards-list-incidents">
  <% @incidents.each do |incident| %>
  <% case incident.incident_state_id_for_tech.id %>
  <% when 1 %>
    <div class="col-md-4 card-incident" style=" background: #d73b3b;">
  <% when 2 %>
    <div class="col-md-4 card-incident" style="background: #50c25c;">
  <% when 4 %>
    <div class="col-md-4 card-incident" style="background: #ffea00; color:dimgrey;">
    <% else %>
    <div class="col-md-4 card-incident" style="background: #2A3947; ">
  <% end %>
    <div class="firstPart" onClick="document.location.href='<%=edit_incident_path(incident)%>'">

          <p> N°<%= incident.id %></p><br>
          <p class="hover-cellule" style="word-break: break-all;">Objet : <b><%= truncate(incident.title, length: 70) %></b></p>
          <p class="hover-cellule" style="word-break: break-all;">Contenu : <b><%= truncate(strip_tags(incident.content), length: 100)%></b></p>
          <p>Demandeur : <b><%= incident.user.name%> <%= incident.user.surname%></b></p>
          <% if incident.tech_id != nil %>
          <p>Technicien : <b><%= incident.tech.name %> <%= incident.tech.surname %></b></p>
        </div>
          <% else %>
        </div>
          <%= form_for(incident, html: {class: "edit_incident", style: "left:0% !important;"}) do |f| %>
          <%= select_tag "incident[tech_id]", options_for_select(@techs), include_blank: "Technicien non défini...", class: "form-control", data_name: "#{incident.id}" %>
              <% end %>
          <% end %>
  <div class="secondPart" onClick="document.location.href='<%=edit_incident_path(incident)%>'">

          <p>Catégorie : <b><%= incident.category.name %></b></p>
          <p>Sous-Categorie : <b><%= incident.sous_category.name%></p>
          <p>Date : <b><%= incident.created_at.strftime("%d %b %Y %H:%M")%></b></p>
          <p>Etat : <b><%= incident.incident_state_id_for_tech.shortcut %></b></p>
          <p>Urgence : <b><%= incident.lvl_urgence_user %></b></p>
        </div>
  </div>
  <% end %>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $(".btn-tri-cards-list-incidents").click(function(){
    $.ajax({
      url: '/incidents',
      type: 'GET',
      dataType: 'script',
      data: {
        order_by: $(this).attr("data-tri")
      }
    });
  });
});
</script>
<% else %>
<% @title = "Accès non autorisé"%>
<%= flash.now[:not_authorized] = "Vous n'avez pas l'autorisation d'accéder à cette page" %>
<% end %>
