<div class="register-box">
  <% if current_user.nil? %>
    <div class="register-logo">
      <%= link_to "tick'<strong>master</strong>".html_safe, '/' %>
    </div>
  <% end %>
  <div class="register-box-body">
    <%= form_for(@user) do |f| %>
    <% if @user.errors.first != nil  %>
    <div class="alert alert-danger">
      <%= "Prénom " + @user.errors[:surname].first%><br>
    </div><!-- DIV ERROR -->
    <% end %>
    <div id="next">
      <div class="form-group">
        <%= f.label :surname %>
        <%= f.text_field :surname, class: "form-control next", placeholder: "Prénom", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control next", placeholder: "Nom", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "email form-control next", placeholder: "Adresse email", required: true %>
      </div>
      <div class="field form-group form-tel">
        <%= f.label :tel %>
        <%= f.phone_field :tel, class: "form-control next", placeholder: "N° de téléphone 1", onkeyup: "verif_nombre(this);", maxlength: "10" %>
      </div>
      <div class="form-group select_tech">
        <%= f.label :type_user %>
        <% if current_user.nil? %>
        <%= select_tag "user[type_user_id]", options_for_select(@type_users.map{ |type_user| [type_user.name, type_user.id, {'data-secure'=> type_user.secure}]}), class: "form-control text-uppercase", include_blank: "Type d'utilisateur :", required: true %>
        <% else %>
        <%= select_tag "user[type_user_id]", options_for_select(@type_users.map{ |type_user| [type_user.name, type_user.id, {'data-secure'=> type_user.secure}]}, selected: current_user.type_user.id), class: "form-control text-uppercase", include_blank: "Type d'utilisateur :", required: true %>
        <% end %>

      </div>
      <div class="form-group select_tech">
        <%= f.label :agency %>
        <% if current_user.nil? %>
        <%= select_tag "user[agency_id]", options_for_select(Agency.all.pluck(:name, :id).sort), class: "form-control text-uppercase", include_blank: "Agence :", required: true %>
        <% else %>
        <%= select_tag "user[agency_id]", options_for_select(Agency.all.pluck(:name, :id).sort, selected: current_user.agency.id), class: "form-control text-uppercase", include_blank: "Agence :", required: true %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "password form-control next", placeholder: "Mot de passe", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "password_confirmation form-control next", placeholder: "Confirmation de mot de passe", required: true %>
      </div>

    </div>
    <% end %>
    <div class="social-auth-links text-center">
      <% if current_user.nil? %>
      <button type="button" name="signup" class="btn btn-success btn-flat btn-block form-control">Valider</button>
        <p>- Un problème ? -</p>
        <%= link_to "J'ai déjà un compte", signin_url, class: 'btn btn-flat btn-info btn-block' %>
        <button type="button" name="button" class="btn btn-flat btn-danger btn-block btn-flat" id="forget_credentials">Mot de passe oublié</button>
      <% else %>
      <button type="button" name="edit_profile" class="btn btn-success btn-flat btn-block form-control" data-id="<%= current_user.id %>">Valider</button>
      <% end %>
    </div>
  </div>
</div>
<% content_for :js do %>
  <%= javascript_include_tag 'users' %>
  <%= javascript_include_tag 'user_sessions' %>
<% end %>
