<% @title = "Editer l'utilisateur #{@user.surname} #{@user.name}"%>
<% if !current_user.nil? && (current_user == @user && Right.where(name: "edit_user").pluck(current_user.tech.name).join('')  == 'true') || Right.where(name: "edit_other_user").pluck(current_user.tech.name).join('') == 'true'  %>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><%= form_for(@user) do |f| %>
  <div id="next">
  <h2 class="">Modifier un utilisateur</h2>
  <% if Right.where(name: "edit_all_user").pluck(current_user.tech.name).join('') == 'true' %>
    <div class="field form-group">
      <%= f.text_field :pseudo, class: "form-control next", placeholder: "Pseudonyme" %>
      <% if @user.errors[:pseudo].first != nil %>
      <div class="alert alert-danger">
      <%= "Pseudonyme " + @user.errors[:pseudo].first%><br>
        <% if @user.errors[:pseudo].second != nil %>
          <%= "Pseudonyme " + @user.errors[:pseudo].second%><br>
        <% end %>
    </div><!-- DIV ERROR -->
      <% end %>
    </div>
    <div class="field form-group">
      <%= f.email_field :email, class: "form-control next", placeholder: "Adresse email" %>
      <% if @user.errors[:email].first != nil  %>
      <div class="alert alert-danger">
      <%= "Adresse email " + @user.errors[:email].first%><br>
        <% if @user.errors[:email].second != nil %>
          <%= "Adresse email " + @user.errors[:email].second%><br>
        <% end %>
    </div> <!-- DIV ERROR -->
      <% end %>
    </div>
  <% end %>

    <div class="field form-group">
      <%= f.text_field :name, class: "form-control next", placeholder: "Nom" %>
      <% if @user.errors[:name].first != nil  %>
      <div class="alert alert-danger">
      <%= "Nom " + @user.errors[:name].first%><br>
    </div><!-- DIV ERROR -->
      <% end %>
    </div>

    <div class="field form-group">
      <%= f.text_field :surname, class: "form-control next", placeholder: "Prénom" %>
      <% if @user.errors[:surname].first != nil  %>
      <div class="alert alert-danger">
      <%= "Prénom " + @user.errors[:surname].first%><br>
    </div><!-- DIV ERROR -->
      <% end %>
    </div>

    <div class="field form-group">
      <%= f.phone_field :tel, class: "form-control next", placeholder: "Téléphone (ex : 04...)" %>
      <% if @user.errors[:tel].first != nil  %>
      <div class="alert alert-danger">
      <%= "Téléphone " + @user.errors[:tel].first%><br>
        <% if @user.errors[:tel].second != nil %>
          <%= "Téléphone " + @user.errors[:tel].second%><br>
        <% end %>
    </div><!-- DIV ERROR -->
      <% end %>
    </div>

    <div class="field form-group">
      <%= f.phone_field :mobile, class: "form-control next", placeholder: "Mobile (ex : 06...)" %>
      <% if @user.errors[:mobile].first != nil  %>
      <div class="alert alert-danger">
      <%= "Mobile " + @user.errors[:mobile].first%><br>
        <% if @user.errors[:mobile].second != nil %>
          <%= "Mobile " + @user.errors[:mobile].second%><br>
        <% end %>
    </div><!-- DIV ERROR -->
      <% end %>
    </div>
  </div>

  <% if Right.where(name: "edit_like_a_boss").pluck(current_user.tech.name).join('') == 'true' %>
  <div class="field form-group select_tag">
    <%= select_tag "user[tech_id]", options_for_select(Tech.all.pluck(:name, :id)), class: "form-control text-uppercase", include_blank: "Type d'utilisateur :", selected: @user.tech_id %>
    <% if @user.errors[:tech_id].first != nil  %>
    <div class="alert alert-danger">
    <%= "Type d'utilisateur " + @user.errors[:tech_id].first%><br>
      <% if @user.errors[:tech_id].second != nil %>
        <%= "Type d'utilisateur " + @user.errors[:tech_id].second%><br>
      <% end %>
  </div><!-- DIV ERROR -->
    <% end %>
  </div>
  <% end %>

  <div class="field form-group select_tech">
    <%= select_tag "user[agency_id]", options_for_select(Agency.all.pluck(:name, :id)), class: "form-control text-uppercase", include_blank: "Agence :", selected: @user.agency_id %>
    <% if @user.errors[:agency_id].first != nil  %>
    <div class="alert alert-danger">
    <%= "Agence " + @user.errors[:agency_id].first%><br>
      <% if @user.errors[:agency_id].second != nil %>
        <%= "Agence " + @user.errors[:agency_id].second%><br>
      <% end %>
  </div><!-- DIV ERROR -->
    <% end %>
  </div>

    <div class="actions form-group">
      <%= f.submit "Sauvegarder", class: "btn btn-success btn-align btn-to-disable"%>
    </div>



  </div>
  <div class="col-md-4"></div>
</div>
<% end %>


<%= link_to 'Annuler', user_path(@user), class: "btn btn-danger btn-align " %>
<% else %>
<% @title = "Accès non autorisé"%>
<%= flash.now[:not_authorized] = "Vous n'avez pas l'autorisation d'accéder à cette page" %>
<% end %>
