<div class="table-responsive">
  <table class="table table-hover">
    <thead class="header">
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Tel</th>
        <th>Email</th>
        <th>Agence</th>
        <%= "<th>Type utilisateur</th>".html_safe if current_user.can?('edit_users') %>
        <% "<th>Actif</th>".html_safe if current_user.can?('edit_users') %>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
          <td data-toggle="modal" data-target="#<%= user.id %>"><%= user.name %></td>
          <td data-toggle="modal" data-target="#<%= user.id %>"><%= user.surname %></td>
          <td data-toggle="modal" data-target="#<%= user.id %>"><%= user.tel %></td>
          <td data-toggle="modal" data-target="#<%= user.id %>"><%= user.email %></td>
          <td data-toggle="modal" data-target="#<%= user.id %>"><%= user.agency.name %></td>
          <%= "<td data-toggle='modal' data-target='##{user.id}'>#{user.type_user.name}</td>".html_safe if current_user.can?('edit_users') %>
          <% if current_user.can?('edit_users') %>
            <%= "<td><div class='slideThree' data-id='#{user.id}'><input class='checkbox-right' type='checkbox' checked><label for='checkbox-right'></label></div></td>".html_safe if user.actif %>
            <%= "<td><div class='slideThree' data-id='#{user.id}'><input class='checkbox-right' type='checkbox'><label for='checkbox-right'></label></div></td>".html_safe if !user.actif %>
          <% end %>
        </tr>
        <% if current_user.can?('edit_users') %>
        <div class="container-modal">
          <!-- Modal -->
          <div class="modal fade" id="<%= user.id %>" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Détails de l'utilisateur #
                    <%= user.id %></h4>
                </div>
                <div class="modal-body">
                  <p>Nom : <%= user.name %></p>
                  <p>Prénom : <%= user.surname %></p>
                  <p>Tél : <%= user.tel %></p>
                  <p>Email : <%= user.email %></p>
                  <p>Agence : <%= user.agency.name %></p>
                  <p>Dernière addresse IP : <%= user.ip_addr %></p>
                  <p>Actif : <%= user.actif ? "Oui" : "Non" %></p>
                  <p>Membre depuis : <%= user.created_at.strftime("%d %b %Y %H:%M") %></p>
                </div>
                <div class="modal-footer">
                  <% if current_user.can?('edit_users') %>
                    <%= link_to "Editer", edit_user_path(user.id), class: "btn btn-flat btn-primary"%>
                  <% end %>

                </div>
              </div>

            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :js do %>
  <%= javascript_include_tag 'users' %>
<% end %>
