<% @title = "Liste des utilisateurs"%>
<% if !current_user.nil? && Right.where(name: "view_index_users").pluck(current_user.tech.name).join('')  == 'true' %>
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="header">
      <tr>
        <th>#</th>
        <th>Pseudo</th>
        <th>Email</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Tel</th>
        <th>Mobile</th>
        <th>Agence</th>
        <th>Inscription</th>
        <th>Compte</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td onClick="document.location.href='<%=profil_user_path(user)%>'"><%= user.id%></td>
        <td onClick="document.location.href='<%=profil_user_path(user)%>'"><%= user.pseudo%></td>
        <td onClick="document.location.href='<%=profil_user_path(user)%>'"><%= user.email%></td>
        <td onClick="document.location.href='<%=profil_user_path(user)%>'"><%= user.name%></td>
        <td onClick="document.location.href='<%=profil_user_path(user)%>'"><%= user.surname%></td>
        <td onClick="document.location.href='<%=profil_user_path(user)%>'"><%= user.tel == nil ? "Inconnu" : user.tel %></td>
        <td onClick="document.location.href='<%=profil_user_path(user)%>'"><%= user.mobile == nil ? "Inconnu" : user.mobile %></td>
        <td onClick="document.location.href='<%=profil_user_path(user)%>'"><%= user.agency.name%></td>
        <td onClick="document.location.href='<%=profil_user_path(user)%>'"><%= user.created_at == nil ? "Date inconnue" : user.created_at.strftime("%d %b %Y %H:%M")  %></td>
        <td onClick="document.location.href='<%=profil_user_path(user)%>'"><%= user.tech.name %></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>

<%else%>
<% @title = "Accès non autorisé"%>
<%= flash.now[:not_authorized] = "Vous n'avez pas l'autorisation d'accéder à cette page" %>
<% end %>
