<% if current_user.nil?%>
  <% content_for :form do %>
    <br><br>
    <div class="signup-page">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-lg-offset-4">
          <%= form_for(@user) do |f| %>
          <div id="next">
            <div class="form-group">
              <%= f.text_field :surname, class: "form-control next has-feedback", placeholder: "Prénom(Requis)", required: true %>
              <% if @user.errors[:surname].first != nil  %>
              <div class="alert alert-danger">
                <%= "Prénom " + @user.errors[:surname].first%><br>
              </div><!-- DIV ERROR -->
              <% end %>
            </div>
            <div class="form-group">
              <%= f.text_field :name, class: "form-control next", placeholder: "Nom(Requis)", required: true %>
              <% if @user.errors[:name].first != nil  %>
              <div class="alert alert-danger">
                <%= "Nom " + @user.errors[:name].first%><br>
              </div><!-- DIV ERROR -->
              <% end %>
            </div>
            <div class="form-group">
              <%= f.text_field :pseudo, class: "form-control next", placeholder: "Pseudonyme(Requis)", required: true %>
              <% if @user.errors[:pseudo].first != nil %>
              <div class="alert alert-danger">
                <%= "Pseudonyme " + @user.errors[:pseudo].first%><br>
                <% if @user.errors[:pseudo].second != nil %>
                <%= "Pseudonyme " + @user.errors[:pseudo].second%><br>
                <% end %>
              </div><!-- DIV ERROR -->
              <% end %>
            </div>
            <div class="form-group">
              <%= f.text_field :email, class: "email form-control next", placeholder: "Adresse email(Requis)", required: true %>
              <%= select_tag :postmail, options_for_select(["@cle-expertises.fr", "@exact-etude.fr", "@eximo.fr"]), class: "email form-control"%>
              <% if @user.errors[:email].first != nil  %>
              <div class="alert alert-danger">
                <%= "Adresse email " + @user.errors[:email].first%><br>
                <% if @user.errors[:email].second != nil %>
                <%= "Adresse email " + @user.errors[:email].second%><br>
                <% end %>
              </div> <!-- DIV ERROR -->
              <% end %>
            </div>
            <div class="field form-group form-tel">
              <%= f.phone_field :tel, class: "form-control next", placeholder: "N° de téléphone 1", onkeyup: "verif_nombre(this);", maxlength: "10" %>
              <% if @user.errors[:tel].first != nil  %>
              <div class="alert alert-danger">
                <%= "Téléphone " + @user.errors[:tel].first%><br>
                <% if @user.errors[:tel].second != nil %>
                <%= "Téléphone " + @user.errors[:tel].second%><br>
                <% end %>
              </div>
              <% end %>
            </div>
            <div class="form-group select_tech">
              <%= select_tag "user[type_user_id]", options_for_select(@type_users.map{ |type_user| [type_user.name, type_user.id, {'data-password'=> type_user.secure}]}), class: "form-control text-uppercase", include_blank: "Type d'utilisateur :", required: true %>
              <%= f.password_field :password, class: "form-control", placeholder: "Mot de passe" %>
            </div>
            <div class="form-group select_tech">
              <%= select_tag "user[agency_id]", options_for_select(Agency.all.pluck(:name, :id).sort), class: "form-control text-uppercase", include_blank: "Agence :", required: true %>
              <% if @user.errors[:agency_id].first != nil  %>
              <div class="alert alert-danger">
                <%= "Agence " + @user.errors[:agency_id].first%><br>
                <% if @user.errors[:agency_id].second != nil %>
                <%= "Agence " + @user.errors[:agency_id].second%><br>
                <% end %>
              </div><!-- DIV ERROR -->
              <% end %>
            </div>
          </div>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <%= f.submit "S'inscrire", class: "btn btn-success btn-block btn-flat" %><br>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <%= link_to "Déjà inscrit ?", signin_path, class: "btn btn-primary btn-block btn-flat"%>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <%= link_to 'Pseudonyme oublié ?', forget_identifiers_users_path, class: "btn btn-danger btn-block btn-flat" %>
              </div>
            </div>
            <% end %>
        </div>
      </div>
    </div>
    <style media="screen">
      .content-wrapper{
        margin-left: 0 !important;
      }
    </style>
  <% end %>
<% else %>
  <% @title = "Accès non autorisé"%>
  <%= flash.now[:alert] = "Vous êtes déjà connecté" %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag 'removeDiacritics' %>
  <%= javascript_include_tag 'new_user' %>
<% end %>
