<% if !current_user.nil? && (current_user == @user && Right.where(name: "edit_user").pluck(current_user.tech.name).join('')  == 'true') || Right.where(name: "edit_other_user").pluck(current_user.tech.name).join('') == 'true'  %>
<% @title = "Editer l'utilisateur #{@user.surname} #{@user.name}"%>

<br><br>
<%= form_for(@user) do |f| %>
<br>
<div id="next">
  <div class="field form-group">
    <%= f.label "Pseudonyme", class: "form-interface"%>

    <%= f.text_field :pseudo, class: "form-control form-interface next", placeholder: "Pseudonyme" %>
    <% if @user.errors[:pseudo].first != nil %>
    <div class="alert alert-danger">
    <%= "Pseudonyme " + @user.errors[:pseudo].first%><br>
      <% if @user.errors[:pseudo].second != nil %>
        <%= "Pseudonyme " + @user.errors[:pseudo].second%><br>
      <% end %>
  </div><!-- DIV ERROR -->
    <% end %>
  </div>
  <% if Right.where(name: "edit_all_user").pluck(current_user.tech.name).join('') == 'true' %>
  <div class="field form-group">
    <%= f.label "Adresse email", class: "form-interface"%>
    <%= f.email_field :email, class: "form-control form-interface next", placeholder: "Adresse email" %>
    <% if @user.errors[:email].first != nil  %>
    <div class="alert alert-danger">
    <%= "Adresse email " + @user.errors[:email].first%><br>
      <% if @user.errors[:email].second != nil %>
        <%= "Adresse email " + @user.errors[:email].second%><br>
      <% end %>
  </div> <!-- DIV ERROR -->
    <% end %>
  </div>
<% end %>

  <div class="field form-group">
    <%= f.label "Nom", class: "form-interface"%>
    <%= f.text_field :name, class: "form-control form-interface next", placeholder: "Nom" %>
    <% if @user.errors[:name].first != nil  %>
    <div class="alert alert-danger">
    <%= "Nom " + @user.errors[:name].first%><br>
  </div><!-- DIV ERROR -->
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label "Prénom", class: "form-interface"%>
    <%= f.text_field :surname, class: "form-control form-interface next", placeholder: "Prénom" %>
    <% if @user.errors[:surname].first != nil  %>
    <div class="alert alert-danger">
    <%= "Prénom " + @user.errors[:surname].first%><br>
  </div><!-- DIV ERROR -->
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label "Numéro de téléphone 1", class: "form-interface"%>
    <%= f.phone_field :tel, class: "form-control form-interface next", placeholder: "Téléphone (ex : 04...)" %>
    <% if @user.errors[:tel].first != nil  %>
    <div class="alert alert-danger">
    <%= "Téléphone " + @user.errors[:tel].first%><br>
      <% if @user.errors[:tel].second != nil %>
        <%= "Téléphone " + @user.errors[:tel].second%><br>
      <% end %>
  </div><!-- DIV ERROR -->
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label "Numéro de téléphone 2", class: "form-interface"%>
    <%= f.phone_field :mobile, class: "form-control form-interface next", placeholder: "Mobile (ex : 06...)" %>
    <% if @user.errors[:mobile].first != nil  %>
    <div class="alert alert-danger">
    <%= "Mobile " + @user.errors[:mobile].first%><br>
      <% if @user.errors[:mobile].second != nil %>
        <%= "Mobile " + @user.errors[:mobile].second%><br>
      <% end %>
  </div><!-- DIV ERROR -->
    <% end %>
  </div>
</div>

<% if Right.where(name: "edit_like_a_boss").pluck(current_user.tech.name).join('') == 'true' %>
<div class="field form-group select_tag">
  <%= f.label "Type d'utilisateur", class: "form-interface"%>
  <%= select_tag "user[tech_id]", options_for_select(Tech.all.pluck(:name, :id), selected: @user.tech_id), class: "form-control form-interface text-uppercase", include_blank: "Type d'utilisateur :"%>
  <% if @user.errors[:tech_id].first != nil  %>
  <div class="alert alert-danger">
  <%= "Type d'utilisateur " + @user.errors[:tech_id].first%><br>
    <% if @user.errors[:tech_id].second != nil %>
      <%= "Type d'utilisateur " + @user.errors[:tech_id].second%><br>
    <% end %>
</div><!-- DIV ERROR -->
  <% end %>
</div>
<% end %>

<div class="field form-group select_tech">
  <%= f.label "Agence", class: "form-interface"%>
  <%= select_tag "user[agency_id]", options_for_select(Agency.all.pluck(:name, :id), selected: @user.agency_id), class: "form-control form-interface form-interface text-uppercase", include_blank: "Agence :" %>
  <% if @user.errors[:agency_id].first != nil  %>
  <div class="alert alert-danger">
  <%= "Agence " + @user.errors[:agency_id].first%><br>
    <% if @user.errors[:agency_id].second != nil %>
      <%= "Agence " + @user.errors[:agency_id].second%><br>
    <% end %>
</div><!-- DIV ERROR -->
  <% end %>
</div>

  <div class="actions form-group">
    <%= f.submit "Enregistrer les modifications", class: "btn btn-success form-interface"%>
  </div>
  <%= link_to 'Voir les incidents de l\'utilisateur', user_path(@user), class: "btn btn-primary form-interface" %>

<% end %>


<% else %>
<% @title = "Accès non autorisé"%>
  <%= flash.now[:notice] = "Accès non autorisé !" %>
<% end %>
