<% @title = "Mes incidents" %>
<% if !current_user.nil? %>

  <% current_user.user_incidents.order(["created_at desc"]).each do |incident| %>
  <% case incident.incident_state_id_for_tech %>
  <% when 1 %>
    <div class="col-md-4 card-incident" style="background: #d73b3b;">
  <% when 2 %>
    <div class="col-md-4 card-incident" style="background: #50c25c;">
  <% when 4 %>
    <div class="col-md-4 card-incident" style="background: #ff9e39;">

    <% else %>
    <div class="col-md-4 card-incident" style="cursor:pointer; margin:10px; max-width: 300px; height: 400px; background: #2A3947; border-style: ; border-width:1px; border-radius:5px;">
  <% end %>
    <div class="firstPart" onClick="document.location.href='<%=edit_incident_path(incident)%>'">

          <p> N°<%= incident.id %></p>
          <p class="hover-cellule" style="word-break: break-all;">Objet : <b><%= truncate(incident.title, length: 100) %></b></p>
          <p class="hover-cellule" style="word-break: break-all;">Contenu : <b><%= truncate(strip_tags(incident.content), length: 100)%></b></p>
          <p>Demandeur : <b><%= incident.user.name%></b></p>
          <% if incident.tech_id != nil %>
          <p>Technicien : <b><%= User.find_by_sql("SELECT `users`.* FROM `users` WHERE `id` = #{incident.tech_id}").collect{ |u| [u.surname, u.name]}.join(" ") %></b></p>
        </div>
          <% else %>
          <p>Technicien non défini ...</p>
        </div>
          <% end %>
  <div class="secondPart" onClick="document.location.href='<%=edit_incident_path(incident)%>'">

          <p>Catégorie : <b><%= incident.category.name %></b></p>
          <p>Sous-Categorie : <b><%= SousCategory.find(incident.sous_category).name %></b></p>
          <p>Date : <b><%= incident.created_at.strftime("%d %b %Y %H:%M")%></b></p>
          <p>Etat : <b><%= IncidentsState.find(incident.incident_state_id_for_tech).shortcut%></b></p>
          <p>Urgence : <b><%= incident.lvl_urgence_user %></b></p>
        </div>
  </div>
  <% end %>
<% else %>
<% @title = "Accès non autorisé"%>
<%= flash.now[:not_authorized] = "Vous n'avez pas l'autorisation d'accéder à cette page" %>
<% end %>
