<% if Right.where(name: "view_index_agencies").pluck(current_user.tech.name).join('')  == 'true' %>
<% @title = "Liste de toutes les agences" %>




<div class="table-responsive">

  <table class="table table-hover">
    <thead class="header">
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Adresse 2</th>
        <th>Adresse 3</th>
        <th>CP</th>
        <th>Ville</th>
        <th>Département</th>
        <th>Adresse email</th>
        <th>Téléphone</th>
        <th>Fax</th>
        <th>IP</th>
      </tr>
    </thead>

    <tbody>
      <% @agencies.each do |agency| %>
      <tr>
        <td onClick="document.location.href='<%=agency_path(agency)%>'"><%= agency.id %></td>
        <td onClick="document.location.href='<%=agency_path(agency)%>'"><%= agency.name %></td>
        <td onClick="document.location.href='<%=agency_path(agency)%>'"><%= agency.adress == 'NULL' ? "" : agency.adress%></td>
        <td onClick="document.location.href='<%=agency_path(agency)%>'"><%= agency.adress2 == "NULL" ? "" : agency.adress2%></td>
        <td onClick="document.location.href='<%=agency_path(agency)%>'"><%= agency.adress3 == "NULL" ? "" : agency.adress3%></td>
        <td onClick="document.location.href='<%=agency_path(agency)%>'"><%= agency.cp == "NULL" ? "" : agency.cp %>
        <td onClick="document.location.href='<%=agency_path(agency)%>'"><%= agency.city == "NULL" ? "" : agency.city %></td>
        <td onClick="document.location.href='<%=agency_path(agency)%>'"><%= agency.department == "NULL" ? "" : agency.department %></td>
        <td onClick="document.location.href='<%=agency_path(agency)%>'"><%= agency.email == "NULL" ? "" : agency.email %>
        <td onClick="document.location.href='<%=agency_path(agency)%>'"><%= agency.tel == "NULL" ? "" : agency.tel %></td>
        <td onClick="document.location.href='<%=agency_path(agency)%>'"><%= agency.fax == "NULL" ? "" : agency.fax %></td>
        <td onClick="document.location.href='<%=agency_path(agency)%>'"><%= agency.ip_adress == "NULL" ? "" : agency.ip_adress %>
      </tr>
      <% end %>
        </tbody>
      </table>
    </div>

      <br>

      <%else%>
      <% @title = "Accès non autorisé"%>
      <p class="alert_non_authorized">
        Accès non autorisé ! <%= render 'sessions/new' %>
      </p>
      <% end %>
