<div class="table-responsive">
  <table class="table table-hover">
    <thead class="header">
      <tr>
        <th>Objet</th>
        <th>Contenu</th>
        <th>Demandeur</th>
        <th>Technicien</th>
        <th>Catégorie</th>
        <th>Sous-Categorie</th>
        <th>Date</th>
        <th>Etat</th>
      </tr>
    </thead>
    <tbody>
      <% @agency.incidents.order(["created_at desc"]).each do |incident| %>
      <tr>
        <td onClick="document.location.href='<%=edit_incident_path(incident)%>'"><%= incident.title %></td>
        <td onClick="document.location.href='<%=edit_incident_path(incident)%>'"><%= truncate(strip_tags(incident.content), length: 17) %></td>
        <td onClick="document.location.href='<%=edit_incident_path(incident)%>'"><%= incident.user.name %>
          <%=incident.user.surname%></td>
        <% if incident.tech_id != nil %>
        <td onClick="document.location.href='<%=edit_incident_path(incident)%>'"><% incident.tech.surname %>
          <%=incident.tech.name %></td>
      <% else %>
        <td onClick="document.location.href='<%=edit_incident_path(incident)%>'">Technicien non défini</td>
        <% end %>
        <td onClick="document.location.href='<%=edit_incident_path(incident)%>'"><%= incident.category.name %></td>
        <td onClick="document.location.href='<%=edit_incident_path(incident)%>'"><%= incident.sous_category.name %></td>
        <td onClick="document.location.href='<%=edit_incident_path(incident)%>'"><%= incident.created_at.strftime("%d %b %Y %H:%M") %></td>
        <% if current_user.type_user.is_tech == true %>
        <td onClick="document.location.href='<%=edit_incident_path(incident)%>'"><%= incident.incident_state_id_for_user.shortcut %></td>
      <% else %>
        <td onClick="document.location.href='<%=edit_incident_path(incident)%>'"><%= incident.incident_state_id_for_tech.shortcut %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
