<div class="table-responsive">
  <table class="table table-hover">
    <thead class="header">
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Categorie</th>

        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @sous_categories.each do |sous_category| %>
      <tr>
        <td onClick="document.location.href='<%=sous_category_path(sous_category)%>'"><%= sous_category.id %></td>
        <% if !current_user.nil? && @view_details_subcategories %>
        <td onClick="document.location.href='<%=sous_category_path(sous_category)%>'"><%= sous_category.name %></td>
        <% else %>
        <td><%= sous_category.name %></td>
        <% end %>
        <td><%= Category.where(id: "#{sous_category.category_id}").pluck(:name).join %></td>

        <% if @edit_subcategories %>
        <td><%= link_to 'Editer', edit_sous_category_path(sous_category) %></td>
        <% end %>
        <% if @delete_subcategories %>
        <td><%= link_to 'Supprimer', sous_category, method: :delete, data: { confirm: 'Êtes vous sûr de vouloir supprimer cette sous catégorie ?' }%></td>
        <% end %>

      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
