<% @title = "Liste des incidents de sous catégorie : #{@sous_category.name}"%>
<% if !current_user.nil? && Right.where(name: "view_details_subcategories").pluck(current_user.tech.name).join('')  == 'true' %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead class="header">
      <tr>
        <th>#</th>
        <th>Objet</th>
        <th>Contenu</th>
        <th>Demandeur</th>
        <th>Technicien</th>
        <th>Categorie</th>
        <th>Sous-Categorie</th>
        <th>Date</th>
        <th>Etat</th>
    </tr>
  </thead>
  <tbody>
    <% @sous_category.incidents.each do |incident| %>
    <tr>
      <td onClick="document.location.href='<%=edit_incident_path(incident)%>'"><%= incident.id%></td>
      <td onClick="document.location.href='<%=edit_incident_path(incident)%>'" class="hover-cellule"><%= truncate(incident.title, length: 20) %>
        <span>
          <%=incident.title%>
        </span>
      </td>
      <td onClick="document.location.href='<%=edit_incident_path(incident)%>'" class="hover-cellule"><%=  truncate(strip_tags(incident.content), length: 20)%>
        <span>
          <%=strip_tags(incident.content)%>
        </span>

      </td>
      <td onClick="document.location.href='<%= edit_incident_path(incident)%>'"><%= incident.user.name + ' ' + incident.user.surname %></td>
      <% if incident.tech_id != nil %>
      <td onClick="document.location.href='<%=edit_incident_path(incident)%>'"><%= User.where(id: "#{incident.tech_id}").pluck(:name, :surname).join(' ') %></td>
      <% else %>
      <td onClick="document.location.href='<%=edit_incident_path(incident)%>'">Technicien non défini</td>
      <% end %>
      <td onClick="document.location.href='<%=edit_incident_path(incident)%>'"><%= incident.category.name %></td>
      <td onClick="document.location.href='<%=edit_incident_path(incident)%>'"><%= incident.sous_category.name %></td>
      <td onClick="document.location.href='<%=edit_incident_path(incident)%>'"><%= incident.created_at.strftime("%d %b %Y %H:%M") %></td>
      <td onClick="document.location.href='<%=edit_incident_path(incident)%>'" class="hover-cellule"><%= IncidentsState.where(id: "#{incident.incident_state_id_for_user}").pluck(:shortcut).join('') %>
        <span>
          <%=IncidentsState.where(id: "#{incident.incident_state_id_for_tech}").pluck(:name).join('')%>
        </span>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>


<% else %>
<% @title = "Accès non autorisé"%>
<%= flash.now[:not_authorized] = "Vous n'avez pas l'autorisation d'accéder à cette page" %>
<% end %>
