<% if !current_user.nil? %>
<% if current_user.user_incidents.nil?%>
<%= render 'help' %>
<h2>Vous n'avez aucun incident pour le moment.</h2>
<% else %>
<% @title = 'Accueil ' %>
<% case %>
<% when current_user.tech.simple_user == true %>
<ul class="liste_accueil">
  <li>
    <h2>
      <strong><%= Incident.where(user_id: current_user).count %></strong>
      incidents créés.</h2>
  </li>
  <li>
    <h2>
      <strong><%= Incident.where(user_id: current_user, incident_state_id_for_user_id: [1, 2, 3, 4, 5, 6, 8, 9, 11, 12]).count %></strong>
      incidents en cours.</h2>
  </li>
  <li>
    <h2>
      <strong><%= Incident.where(user_id: current_user, incident_state_id_for_user_id: 1).count %></strong>
      incidents en attente d'affectation.</h2>
  </li>
  <li>
    <h2>
      <strong><%= Incident.where(user_id: current_user, incident_state_id_for_user_id: 3).count %></strong>
      incidents pris en charge par un technicien.</h2>
  </li>
  <li>
    <h2>
      <strong><%= Incident.where(user_id: current_user, incident_state_id_for_user_id: 4).count %></strong>
      incidents ayant reçu une réponse.</h2>
  </li>
  <li>
    <h2>
      <strong><%= Incident.where(user_id: current_user, incident_state_id_for_user_id: 6).count %></strong>
      incidents en attente d'une réponse du technicien.</h2>
  </li>
  <li>
    <h2>
      <strong><%= Incident.where(user_id: current_user, incident_state_id_for_user_id: 7).count %></strong>
      incidents cloturés.</h2>
  </li>
  <li>
    <h2>
      <strong><%= Incident.where(user_id: current_user, incident_state_id_for_user_id: 10).count %></strong>
      incidents rejetés.</h2>
  </li>
  <li>
    <h2>
      <strong><%= Incident.where(user_id: current_user, incident_state_id_for_user_id: 8).count %></strong>
      incidents en attente de cloture de votre part.</h2>
  </li>
</ul>

<% when current_user.tech.simple_user == false %>
<ul class='liste_accueil'>
  <% if current_user.tech_id == 5 %>
  <li>
    <h2>
      <strong><%= Incident.all.count%></strong>
      incidents actuellement.
      <%= link_to 'Details', '#', class: 'details', style: 'color:darkblue;' %></h2>
  </li>
  <ul class='liste_accueil' id='list_for_disp'>
    <li>
      <h2>
        <strong><%= Incident.where(user_id: current_user.id).count%></strong>
        incidents créés.</h2>
    </li>
    <li>
      <h2>
        <strong><%= egg = Incident.where(tech_id: current_user.id).count%></strong>
        incidents à traiter.
        <%= egg > 42 ? "Cela vous prendra environ 7,5 millions d'années pour tout résoudre." : "" %></h2>
    </li>
    <li>
      <h2>
        <strong><%= Incident.where(incident_state_id_for_tech: 9).count %></strong>
        incidents en attente de cloture de la part de l'utilisateur.</h2>
    </li>
    <li>
      <h2>
        <strong><%= Incident.where(tech_id: nil).count %></strong>
        incidents en attente d'affectation.</h2>
    </li>
    <li>
      <h2>
        <strong><%= Incident.where(incident_state_id_for_tech: 4).count %></strong>
        incidents en attente d'une réponse de votre part.</h2>
    </li>
    <li>
      <h2>
        <strong><%= Incident.where(incident_state_id_for_tech: 5).count %></strong>
        incidents en attente d'une réponse de la part de l'utilisateur.</h2>
    </li>
    <li>
      <h2>
        <strong><%= Incident.where(incident_state_id_for_tech: 7).count %></strong>
        incidents cloturés.</h2>
    </li>
    <li>
      <h2>
        <strong><%= Incident.where(incident_state_id_for_tech: 10).count %></strong>
        incidents rejetés.</h2>
    </li>
    <br><br><br></ul>
  <% end %>
<li>
  <h2>
    <strong><%= Incident.where(user_id: current_user.id).count%></strong>
    incidents créés.</h2>
</li>
<li>
  <h2>
    <strong><%= egg = Incident.where(tech_id: current_user.id).count%></strong>
    incidents à traiter.
    <%= egg > 42 ? "Cela vous prendra environ 7,5 millions d'années pour tout résoudre." : "" %></h2>
</li>
<li>
  <h2>
    <strong><%= Incident.where(tech_id: current_user.id, incident_state_id_for_tech: 9).count %></strong>
    incidents en attente de cloture de la part de l'utilisateur.</h2>
</li>
<li>
  <h2>
    <strong><%= Incident.where(tech_id: current_user.id, incident_state_id_for_tech: 4).count %></strong>
    incidents en attente d'une réponse de votre part.</h2>
</li>
<li>
  <h2>
    <strong><%= Incident.where(tech_id: current_user.id, incident_state_id_for_tech: 5).count %></strong>
    incidents en attente d'une réponse de la part de l'utilisateur.</h2>
</li>
<li>
  <h2>
    <strong><%= Incident.where(tech_id: current_user.id, incident_state_id_for_tech: 7).count %></strong>
    incidents cloturés.</h2>
</li>
<li>
  <h2>
    <strong><%= Incident.where(tech_id: current_user.id, incident_state_id_for_tech: 10).count %></strong>
    incidents rejetés.</h2>
</li>
</ul>
<% end %>
<% end %>

<% else %>
<% @title = 'Accueil' %>
<% content_for :accueil do %>
<%= render 'sessions/new' %>
<% end %>
<% end %>
<script type="text/javascript">
$(document).ready(function () {
  $("#list_for_disp").hide();
  $("a.details").click(function () {
    $("#list_for_disp").toggle();
  });
});
</script>
