<%@title = "Nouvelle réponse" %>
<h2 class="">Nouvelle réponse</h2>

<%= simple_form_for [@incident, Response.new] do |f| %>
<% if @incident.incident_state_id_for_user_id != 7 || @incident.incident_state_id_for_user_id != 10 || @incident.incident_state_id_for_user_id != 1 || @incident.incident_state_id_for_user_id != 2 %>

  <div class="field">
    <%= f.text_area :content, class: "form-control next ", placeholder: "Message(Requis)"%>
    <% if @response.errors[:content].first != nil %>
    <div class="alert alert-danger">
      <%= "Message " + @response.errors[:content].first%><br><br>
    </div>
    <% end %>
  </div><br>
  <div class="actions">
    <%= f.submit "Valider", id: "sendButton", class: "btn btn-success btn-align btn-to-disable " %><br>
  </div>
  <% else %>
  <p>
    Vous avez cloturé l'incident, vous ne pouvez plus y répondre.
  </p>
  <% end %>
<% end %>
<br>
<%= link_to 'Annuler', edit_incident_path(@incident), class: "btn btn-danger btn-align " %>
