<% if !current_user.nil? && Right.where(name: "edit_rights").pluck(current_user.tech.name).join('')  == 'true' %>
<% @title = "Editer droit : #{@right.name}" %>

<h2 class="form-interface">Editer droit</h2>

<%= render 'form' %>

<%= link_to 'Annuler', rights_path, class: "btn btn-danger btn-align form-interface" %>
<% else %>
<% @title = "Accès non autorisé"%>
<p class="alert_non_authorized"><br><br>
  <p style="font-size:4em; text-align:center; color:red;">
    <%= flash.now[:notice] = "Accès non autorisé !" %>
  </p>
  <% if current_user.nil? %>
  <%= render 'sessions/new' %>
  <% else %>
  <script type="text/javascript">
    window.location.href="/users/<%=current_user.id%>/"
  </script>
  <% end %>
</p>
<% end %>
