<div class="tabs">
  <!-- Vue par type d'utilisateur  -->
  <% @type_users.each do |type_user| %>
  <div class="tab">
    <input type="radio" name="tabgroup" id="tab-<%= type_user.name %>">
    <label for="tab-<%= type_user.name %>"><%= type_user.name %></label>
    <div class="content-tab">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="header">
            <tr>
              <th>Nom</th>
              <th>Description</th>
              <th>Droit?</th>
            </tr>
          </thead>
          <tbody>
            <% type_user.type_user_rights.each do |tur| %>
            <tr>
              <td style="padding:0 !important;"><%= tur.right.name %></td>
              <td style="padding:0 !important;"><%= tur.right.content %></td>
              <% if tur.value %>
              <td style="padding:0 !important;">
                <div class="slideThree">
                  <input class="checkbox-right" type="checkbox" data-id="<%= type_user.id %>" name="<%= type_user.name %>" value="<%= tur.right.id %>" checked>
                  <label for="checkbox-right"></label>
                </div>
              </td>
              <% else %>
              <td style="padding:0 !important;">
                <div class="slideThree">
                  <input class="checkbox-right" type="checkbox" data-id="<%= type_user.id %>" name="<%= type_user.name %>" value="<%= tur.right.id %>">
                  <label for="checkbox-right"></label>
                </div>
              </td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <% end %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('input[type="radio"]:nth-child(1)').click();
      $(document).on('click', '.slideThree', function(){
        var checked = $(this).children('input[type="checkbox"]').is(":checked");
        var type_user = $(this).children('input[type="checkbox"]').data("id");
        var right = $(this).children('input[type="checkbox"]').val();
        $.clicked = $(this);
        $.ajax({
          url: '/rights/check_uncheck_right',
          type: 'POST',
          dataType: 'json',
          data: {
            checked:!checked,
            type_user:type_user,
            right:right
          },
          success: function(result){
            if($.clicked.children('label').css("left") == "3px"){
              $.clicked.children('label').css("left", "43px");
              $.clicked.children('input[type="checkbox"]').prop('checked', true);
            }else{
              $.clicked.children('label').css("left", "3px");
              $.clicked.children('input[type="checkbox"]').prop('checked', false);
            }
          }
        });
      });
    });
  </script>
  <!--  -->
</div>
