<% @title = "Liste des droits" %>
<% if !current_user.nil? && Right.where(name: "view_index_rights").pluck(current_user.tech.name).join('')  == 'true' %>

<% if Right.where(name: "edit_rights").pluck(current_user.tech.name).join('') == 'true' %>
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="header">
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Demandeur</th>
        <%= current_user.tech.name == "tech" ? "<th style='color:#47b8e0 !important;'>Technicien</th>".html_safe : "<th>Technicien</th>".html_safe%>
        <%= current_user.tech.name == "super_tech" ? "<th style='color:#47b8e0 !important;'>SuperTech</th>".html_safe : "<th>SuperTech</th>".html_safe%>
        <%= current_user.tech.name == "admin" ? "<th style='color:#47b8e0 !important;'>Administrateur</th>".html_safe : "<th>Administrateur</th>".html_safe%>
        <%= current_user.tech.name == "assistant" ? "<th style='color:#47b8e0 !important;'>Assistant</th>".html_safe : "<th>Assistant</th>".html_safe%>
        <%= current_user.tech.name == "expert" ? "<th style='color:#47b8e0 !important;'>Expert</th>".html_safe : "<th>Expert</th>".html_safe%>
        <%= current_user.tech.name == "comptable" ? "<th style='color:#47b8e0 !important;'>Comptable</th>".html_safe : "<th>Comptable</th>".html_safe%>
      </tr>
    </thead>
    <tbody>
      <% @rights.each do |right| %>
      <tr>
        <td><%= right.name %></td>
        <td><%= right.content %></td>
        <%if right.user == true%>
        <td style="background: darkgreen;"><%= right.user %></td>
        <%else%>
        <td style="background: darkred;"><%= right.user %></td>
        <%end%>
        <%if right.tech == true%>
        <td style="background: darkgreen;"><%= right.tech %></td>
        <%else%>
        <td style="background: darkred;"><%= right.tech %></td>
        <%end%>
        <%if right.super_tech == true%>
        <td style="background: darkgreen;"><%= right.super_tech %></td>
        <%else%>
        <td style="background: darkred;"><%= right.super_tech %></td>
        <%end%>
        <%if right.admin == true%>
        <td style="background: darkgreen;"><%= right.admin %></td>
        <%else%>
        <td style="background: darkred;"><%= right.admin %></td>
        <%end%>
        <%if right.disp == true%>
        <td style="background: darkgreen;"><%= right.disp %></td>
        <%else%>
        <td style="background: darkred;"><%= right.disp %></td>
        <%end%>
        <%if right.assistant == true%>
        <td style="background: darkgreen;"><%= right.assistant %></td>
        <%else%>
        <td style="background: darkred;"><%= right.assistant %></td>
        <%end%>
        <%if right.expert == true%>
        <td style=" background: darkgreen;"><%= right.expert %></td>
        <%else%>
        <td style="background: darkred;"><%= right.expert %></td>
        <%end%>
        <%if right.comptable == true%>
        <td style="background: darkgreen;"><%= right.comptable %></td>
        <%else%>
        <td style="background: darkred;"><%= right.comptable %></td>
        <%end%>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="header">
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Demandeur</th>
        <th>Technicien</th>
        <th>SuperTech</th>
        <th>Administrateur</th>
        <th>Dispatcheur</th>
        <th>Assistant</th>
        <th>Expert</th>
        <th>Comptable</th>
      </tr>
    </thead>
    <tbody>
      <% @rights.each do |right| %>
      <tr>
        <td><%= right.name %></td>
        <td><%= right.content %></td>
        <%if right.user == true%>
        <td style="background: darkgreen;"><%= right.user %></td>
        <%else%>
        <td style="background: darkred;"><%= right.user %></td>
        <%end%>
        <%if right.tech == true%>
        <td style="background: darkgreen;"><%= right.tech %></td>
        <%else%>
        <td style="background: darkred;"><%= right.tech %></td>
        <%end%>
        <%if right.super_tech == true%>
        <td style="background: darkgreen;"><%= right.super_tech %></td>
        <%else%>
        <td style="background: darkred;"><%= right.super_tech %></td>
        <%end%>
        <%if right.admin == true%>
        <td style="background: darkgreen;"><%= right.admin %></td>
        <%else%>
        <td style="background: darkred;"><%= right.admin %></td>
        <%end%>
        <%if right.disp == true%>
        <td style="background: darkgreen;"><%= right.disp %></td>
        <%else%>
        <td style="background: darkred;"><%= right.disp %></td>
        <%end%>
        <%if right.assistant == true%>
        <td style="background: darkgreen;"><%= right.assistant %></td>
        <%else%>
        <td style="background: darkred;"><%= right.assistant %></td>
        <%end%>
        <%if right.expert == true%>
        <td style="background: darkgreen;"><%= right.expert %></td>
        <%else%>
        <td style="background: darkred;"><%= right.expert %></td>
        <%end%>
        <%if right.comptable == true%>
        <td style="background: darkgreen;"><%= right.comptable %></td>
        <%else%>
        <td style="background: darkred;"><%= right.comptable %></td>
        <%end%>
      </tr>
      <% end %>
    </tbody>
    <% end %>
  </table>
</div>
<br>
<% else %>
<% @title = "Accès non autorisé"%>
<%= flash.now[:not_authorized] = "Vous n'avez pas l'autorisation d'accéder à cette page" %>
<% end %>
<script type="text/javascript">
  $(".submit").on("click", (function () {
    $('.new_right').submit();
  }));
</script>
