<% if !current_user.nil? && Right.where(name: "view_index_rights").pluck(current_user.tech.name).join('')  == 'true' %>
<% @title = "Liste des droits" %>



<% if Right.where(name: "edit_rights").pluck(current_user.tech.name).join('') == 'true' %>
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="header">
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Demandeur</th>
      <th>Technicien</th>
      <th>SuperTech</th>
      <th>Administrateur</th>
      <th>Dispatcheur</th>
      <th>Assistant</th>
      <th>Expert</th>
      <th>Comptable</th>
    </tr>
  </thead>
  <tbody>
    <% @rights.each do |right| %>
    <tr>
      <td onClick="document.location.href='<%=edit_right_path(right)%>'"><%= right.name %></td>
      <td onClick="document.location.href='<%=edit_right_path(right)%>'"><%= right.content %></td>
      <%if right.user == true%>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: green;"><%= right.user %></td>
      <%else%>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: red;"><%= right.user %></td>
      <%end%>
      <%if right.tech == true%>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: green;"><%= right.tech %></td>
      <%else%>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: red;"><%= right.tech %></td>
      <%end%>
      <%if right.super_tech == true%>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: green;"><%= right.super_tech %></td>
      <%else%>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: red;"><%= right.super_tech %></td>
      <%end%>
      <%if right.admin == true%>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: green;"><%= right.admin %></td>
      <%else%>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: red;"><%= right.admin %></td>
      <%end%>
      <%if right.disp == true%>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: green;"><%= right.disp %></td>
      <%else%>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: red;"><%= right.disp %></td>
      <%end%>
      <%if right.assistant == true%>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: green;"><%= right.disp %></td>
      <%else%>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: red;"><%= right.disp %></td>
      <%end%>
      <%if right.expert == true%>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: green;"><%= right.disp %></td>
      <%else%>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: red;"><%= right.disp %></td>
      <%end%>
      <%if right.comptable == true%>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: green;"><%= right.disp %></td>
      <%else%>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: red;"><%= right.disp %></td>
      <%end%>
    </tr>
    <% end %>
  </tbody>
  <% else %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="header">
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Demandeur</th>
        <th>Technicien</th>
        <th>SuperTech</th>
        <th>Administrateur</th>
        <th>Dispatcheur</th>
        <th>Assistant</th>
        <th>Expert</th>
        <th>Comptable</th>
      </tr>
    </thead>
    <tbody>
      <% @rights.each do |right| %>
      <tr>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'"><%= right.name %></td>
        <td onClick="document.location.href='<%=edit_right_path(right)%>'"><%= right.content %></td>
        <%if right.user == true%>
          <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: green;"><%= right.user %></td>
        <%else%>
          <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: red;"><%= right.user %></td>
        <%end%>
        <%if right.tech == true%>
          <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: green;"><%= right.tech %></td>
        <%else%>
          <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: red;"><%= right.tech %></td>
        <%end%>
        <%if right.super_tech == true%>
          <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: green;"><%= right.super_tech %></td>
        <%else%>
          <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: red;"><%= right.super_tech %></td>
        <%end%>
        <%if right.admin == true%>
          <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: green;"><%= right.admin %></td>
        <%else%>
          <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: red;"><%= right.admin %></td>
        <%end%>
        <%if right.disp == true%>
          <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: green;"><%= right.disp %></td>
        <%else%>
          <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: red;"><%= right.disp %></td>
        <%end%>
        <%if right.assistant == true%>
          <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: green;"><%= right.disp %></td>
        <%else%>
          <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: red;"><%= right.disp %></td>
        <%end%>
        <%if right.expert == true%>
          <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: green;"><%= right.disp %></td>
        <%else%>
          <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: red;"><%= right.disp %></td>
        <%end%>
        <%if right.comptable == true%>
          <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: green;"><%= right.disp %></td>
        <%else%>
          <td onClick="document.location.href='<%=edit_right_path(right)%>'" style="background: red;"><%= right.disp %></td>
        <%end%>
      </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
</div>
<br>
<% else %>
<% @title = "Accès non autorisé"%>
<p class="alert_non_authorized">
  Accès non autorisé ! <%= render 'sessions/new' %>
</p>
<% end %>
<script type="text/javascript">
  $(".submit").on("click", (function(){
    $('.new_right').submit();
  }));
</script>
