<%= simple_form_for(@msg_procedure) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id_procedures %>
    <%= f.input :contenu %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
