<p id="notice"><%= notice %></p>

<p>
  <strong>Id procedures:</strong>
  <%= @msg_procedure.id_procedures %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= @msg_procedure.contenu %>
</p>

<%= link_to 'Edit', edit_msg_procedure_path(@msg_procedure) %> |
<%= link_to 'Back', msg_procedures_path %>
