<%= form_for @procedure, html: { multipart: true } do |f| %>

  <br><div class="field">
    <%= f.label "Titre"%><br>
    <%= f.text_field :nom, size: "100", class: "form-control" %><br><br>
    <% if @procedure.errors[:title].first != nil %>
    <div class="alert alert-danger">
      <%= "Objet " + @procedure.errors[:title].first%><br><br><br>
    </div>
    <% end %>
  </div>
    <div class="field">
      <%= f.label "Problème rencontré"%><br>
      <%= f.cktext_area :contenu, :id => 'procedure_contenu procedure_contenu', ckeditor: {uiColor: '#DDDDDD'}, required: true%><br>
    </div>
      <div class="field">
        <%= f.label "Résolution"%><br>
        <%= f.cktext_area :resolution, :id => 'procedure_resolution procedure_resolution', ckeditor: {uiColor: '#DDDDDD'}, required: true%><br>
      </div>
      <div class="field">
        <%= f.label "Catégorie", :class => ''  %><br>
        <%= select_tag "procedure[category_id]", options_for_select(@categories.collect{|category| [category.name.titleize, category.id]}, selected: @procedure.category_id), {:class => "form-control ", include_blank: "", required: true}%><br>
        <%= select_tag "procedure[sous_category_id]", options_for_select(@sous_categories.collect{|sous_category| [sous_category.name.titleize, sous_category.id]}, selected: @procedure.sous_category_id), {:class => "form-control ", include_blank: "", required: true} %>
      </div>

  <div class="fallback" id="filesinputs">
    <%= f.label "Fichiers"%><br>
      <%= fields_for :file_procedures, @procedure.file_procedures do |i| %>
        <%= i.file_field :file, name: "file_procedures[file][]", multiple: true, id: "attachfile" %>
      <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit "Valider", class: "btn btn-flat btn-success" %>
  </div>
<% end %>
