<%= simple_form_for @procedure, html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.label "Objet", :class => '' %><br>

    <%= f.input :nom %><br>
    <% if @procedure.errors[:title].first != nil %>
    <div class="alert alert-danger">
      <%= "Objet " + @procedure.errors[:title].first%><br><br>
    </div>
    <% end %>

  </div>
    <div class="field">
      <%= f.cktext_area :contenu, :id => 'procedure_contenu procedure_contenu', ckeditor: {uiColor: '#555555'}, required: true%><br>
    </div>
      <div class="field">
        <%= f.input :resolution %><br>
      </div>
        <div class="field">
          <%= f.input :category_id %><br>
        </div>
  <div class="field">
    <%= f.input :sous_category_id %><br>
  </div>
  <div class="fallback" id="filesinputs">
      <%= fields_for :file_procedures, @procedure.file_procedures do |i| %>
        <%= i.file_field :file, name: "file_procedures[file][]", multiple: true, id: "attachfile" %>
      <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit "Valider", class: "btn btn-success btn-response btn-to-disable" %>
  </div>
<% end %>
