<div class="table-responsive">
  <table class="table table-hover table-bordered dataTable">
    <thead class="header">
      <tr>
        <th>Nom</th>
        <th>Contenu</th>
        <th>Categorie</th>
        <th>SousCategorie</th>
      </tr>
    </thead>
    <tbody>
      <% @procedures.each do |procedure| %>
      <tr>
        <td class="hover-cellule <%= procedure.id %>" data-toggle="modal" data-target="#<%= procedure.id %>"><%= truncate(strip_tags(procedure.nom), length: 50) %></td>
        <td class="hover-cellule <%= procedure.id %>" data-toggle="modal" data-target="#<%= procedure.id %>"><%= truncate(strip_tags(procedure.contenu), length: 50) %></td>
        <td class="hover-cellule <%= procedure.id %>" data-toggle="modal" data-target="#<%= procedure.id %>"><%= procedure.category.name%></td>
        <td class="hover-cellule <%= procedure.id %>" data-toggle="modal" data-target="#<%= procedure.id %>"><%= procedure.sous_category.name %></td>
      </tr>
      <div class="container-modal">
        <!-- Modal -->
        <div class="modal fade" id="<%= procedure.id %>" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><%= truncate(strip_tags(procedure.nom), length: 50)%></h4>
              </div>
              <div class="modal-body">
                <p style="width:600px;"><%= strip_tags(procedure.contenu) %></p>
              </div>
              <div class="modal-footer">
                <% if @edit_procedure%>
                  <%= link_to "Editer", edit_procedure_path(procedure), class: "btn btn-flat btn-primary"%>
                <% end %>
                <%= link_to "Détails", procedure, class: "btn btn-flat btn-success"%>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </tbody>
    <thead class="header">
      <tr>
        <th>Nom</th>
        <th>Contenu</th>
        <th>Categorie</th>
        <th>SousCategorie</th>
      </tr>
    </thead>
  </table>
</div>

<br>
