<% @title = "Procedure N° " + @procedure.id.to_s  %>

<div class="procedures">
<h1 class="procedure_nom">Problème rencontré :</h1>
<h1 class="">
  <!-- <strong>Nom:</strong> -->

  <%= @procedure.nom %>
</h1>

<h3 class="procedure_categorie">
  <strong>Categorie:</strong>
  <%= @procedure.category_id %>
</h3>

<h3 class="procedure_souscategorie">
  <strong>Sous categorie:</strong>
  <%= @procedure.sous_category_id %>
</h3>

<p class="procedure_contenu">
  <!-- <strong>Contenu:</strong> -->
  <%= raw @procedure.contenu %>
</p>
<br><hr><br>
<h1 class="procedure_resolution_title">Resolution:</h1>
<p class="procedure_resolution">
  <%= raw @procedure.resolution %>
</p>
</div>
