<div class="procedures">
<h1 class="procedure_nom">Problème rencontré :</h1>
<h1 class="">
  <!-- <strong>Nom:</strong> -->
  <%= @procedure.nom %>
</h1>

<h3 class="procedure_categorie">
  <strong>Categorie:</strong>
  <%= @procedure.category.name %>
</h3>

<h3 class="procedure_souscategorie">
  <strong>Sous categorie:</strong>
  <%= @procedure.sous_category.name %>
</h3>

<p class="procedure_contenu">
  <!-- <strong>Contenu:</strong> -->
  <%= raw @procedure.contenu %>
</p>
<br><hr><br>
<h1 class="procedure_resolution_title">Resolution:</h1>
<p class="procedure_resolution">
  <%= raw @procedure.resolution %>
</p>
<h1 class="procedure_file">Fichiers nécéssaires à la résolution :</h1>
<% @procedure.file_procedures.each do |file|%>
<% if file.content_type.include?("image") %>
<%= link_to "#{image_tag(file.file_url, size: '800x400')}".html_safe, file.file_url%>
<% else %>
<%= link_to("#{file.file_identifier}", file.file_url, action: :download, class: "form-control ") %>
<% end %>
<% end %>
</div>
