<%= @title = "Procedure : " + @procedure.nom %>


<p>
  <strong>Nom:</strong>
  <%= @procedure.nom %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= @procedure.contenu %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @procedure.resolution %>
</p>

<p>
  <strong>Categorie:</strong>
  <%= @procedure.category_id %>
</p>

<p>
  <strong>Sous categorie:</strong>
  <%= @procedure.sous_category_id %>
</p>
