<%= form_for(@category) do |f| %>

  <div class="field form-group">
    <h2>Catégorie : </h2>
<div class="row">
  <div class="col-md-4">
    <%= f.text_field :name, class: "form-control ", placeholder: "Nom(champ requis)" %>
  </div>
  <div class="col-md-4">
    <%= f.submit "", id: "sendButton", class: "btn btn-success btn-edit-category btn-to-disable", data: { confirm: 'Êtes vous sûr de vouloir editer cette catégorie ?' } %>
  </div>
</div>
    <% if @category.errors[:name].first != nil %>
    <div class="alert alert-danger ">
    <%= "Nom " + @category.errors[:name].first%><br>
      <% if @category.errors[:name].second != nil %>
        <%= "Nom " + @category.errors[:name].second%>
      <% end %>
  </div>
  <% end %>
    <% end %>

  </div><br>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="header">
        <tr>
          <th>Sous-Catégorie</th>
          <th>Categorie</th>
          <th>Niveau d'urgence maximum</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody class="principal_body">
        <% @category.sous_categories.each do |sous_category| %>
        <tr>
          <% if !current_user.nil? && Right.where(name: "view_details_subcategories").pluck(current_user.tech.name).join('')  == 'true' %>
          <td onClick="document.location.href='<%=sous_category_path(sous_category)%>'"><%= sous_category.name %></td>
          <% else %>
          <td><%= sous_category.name %></td>
          <% end %>
          <td><%= Category.where(id: "#{sous_category.category_id}").pluck(:name).join %></td>
          <td><%= sous_category.lvl_urgence_max %></td>

          <% if Right.where(name: "edit_subcategories").pluck(current_user.tech.name).join('')  == 'true' %>
          <td><%= link_to 'Editer', edit_sous_category_path(sous_category) %></td>
          <% end %>
          <% if Right.where(name: "delete_subcategories").pluck(current_user.tech.name).join('')  == 'true' %>
          <td><%= link_to 'Supprimer', sous_category, method: :delete, data: { confirm: 'Êtes vous VRAIMENT sûr de vouloir supprimer cette sous catégorie ? Non, je dis ça parce que si vous la supprimez et bien elle y sera plus ! Serieux !' }%></td>
          <% end %>
          <% end %>
        </tr>
            <tr class="formsnewsubcats">
            <%= simple_form_for(@sous_category) do |f| %>
            <td class='newsubcat'><%= f.text_field :name, class: "form-control ", placeholder: "Nom(Requis)", style: "margin-left:0px;"%></td>
            <td class='newsubcat'><%= select_tag 'sous_category[category_id]', options_for_select(User.find_by_sql("SELECT `categories`.* FROM `categories`").collect{ |u| [u.name, u.id]}, @category.id), class: "form-control ", style: "margin-left:0px;" %></td>
            <td class='newsubcat'><%= select_tag "sous_category[lvl_urgence_max]", '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10" selected="selected">10</option>'.html_safe, class: 'form-control ', style: "margin-left:0px;" %></td>
            <td class='newsubcat'><p type="submit" name="commit" class="btn btn-success btn-create-category btn-to-disable submit" id="sendButton"></p></td>
            <td> </td>
            <% end %>
            <td colspan="2"></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="actions">
  </div>

<script type="text/javascript">
  $(".btn-create-category").click(function(){
    $.ajax({
      url: '/sous_categories/:id/create_subcats',
      type: 'GET',
      dataType: 'script',
      data: {
        sous_category_name: $("#sous_category_name").val(),
        sous_category_category_id: $("#sous_category_category_id option:selected").val(),
        sous_category_lvl_urgence_max: $("#sous_category_lvl_urgence_max option:selected").val()
      }
    });
  });
</script>
