<div class="table-responsive">
  <table class="table table-hover">
    <thead class="header">
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
      <tr>
        <td onClick="document.location.href='<%=edit_category_path(category)%>'"><%= category.id %></td>
        <% if @view_details_category then %>
        <td onClick="document.location.href='<%=edit_category_path(category)%>'"><%= category.name %></td>
      <% else %>
        <td><%= category.name %></td>
        <% end %>
        <% if @delete_category then %>
        <td><%= link_to 'Supprimer', category, method: :delete, data: { confirm: 'Êtes vous VRAIMENT sûr de vouloir supprimer cette catégorie ? Non, je dis ça parce que si vous la supprimez le monde entier va exploser ! Je vous aurais prévenu !' }%></td>
        <% end %>
        <td>
          <p>&laquo;</p>
        </td>

      </tr>

      <% end %>
      <tr class="formsnewsubcats">
        <%= simple_form_for(@category) do |f| %>
        <td>
          <p style="font-size:2em;">&raquo;</p>
        </td>
        <td class='newsubcat'><%= f.text_field :name, class: "form-control ", placeholder: "Nom(Requis)", style: "margin-left:0px;"%></td>
        <td colspan="1"></td>
        <td class='newsubcat'>
          <p type="submit" name="commit" class="btn btn-success btn-create-category submit " id="sendButton">+</p>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
<div class="actions"></div>

<br>
<script type="text/javascript">
  $("#sendButton").click(function () {
    $("#new_category").submit();
  });
</script>
