<br>
<div class="table-responsive">
  <table class="table table-hover" id="table_materials">
    <thead class="header">
    <tr>
      <th>Type</th>
      <th>Vendeur</th>
      <th>Détenteur</th>
      <th>Dénomination</th>
    </tr>
  </thead>
  <tbody>
    <tr><td colspan='4'><%= link_to "Nouveau matériel", new_material_url, class: 'btn btn-success btn-block', id: 'create_new_material'%><td></tr>
    <% @materials.each do |material| %>
      <tr data-dismiss="modal" data-toggle="modal" data-target="#<%= material.id %>">
        <td><%= material.type_material.name %></td>
        <td><%= material.seller.name %></td>
        <% if [1, 4].include?(material.detentor_type_id) then %>
        <!-- Alors c'est une agence -->
        <% detentor = Agency.find(material.detentor_id) %>
        <% else %>
        <!-- Alors c'est un utilisateur -->
        <% detentor = User.find(material.detentor_id) %>
        <% end %>
        <td><%= detentor.name %></td>
        <td><%= material.name %></td>
      </tr>
      <div class="container-modal">
        <div class="modal fade" id="<%= material.id %>" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Détails du matériel</h4>
                <h5 class="modal-title">N°<%= material.id %> : <%= material.name%></h5>
              </div>
              <div class="modal-body">
                <p>Type du matériel : <%= material.type_material.name %></p>
                <hr>
                <% material.spec_material_materials.each do |smm| %>
                <p><%= smm.specs_material.specs_types_material.name + ' : ' + smm.specs_material.spec_value %></p>
                <% end %>
                <hr>
                <p>Vendeur : <%= link_to "#{material.seller.name}", edit_seller_path(material.seller.id) %></p>
                <% material.seller.fields_seller_sellers.each do |fss| %>
                  <p><%= fss.fields_seller.name + ' : ' + fss.content %></p>
                <% end %>
                <hr>
                <p>Type de détenteur : <%= material.detentor_type.name %></p>
                <% if [1, 4].include?(material.detentor_type_id) then %>
                <!-- Alors c'est une agence -->
                <p>Détenteur : <%= link_to "#{detentor.name}", edit_agency_path(detentor.id) %></p>
                <% else %>
                <!-- Alors c'est un utilisateur -->
                <p>Détenteur : <%= link_to "#{detentor.name + ' ' + detentor.surname}", profil_user_path(detentor.id) %></p>
                <% end %>
              </div>
              <div class="modal-footer">
                <%= link_to 'Editer', edit_material_path(material), class: 'btn btn-success' %>
                <%= link_to 'Supprimer', material, method: :delete, data: { confirm: 'Êtes vous sûr de vouloir supprimer ce matériel ?' }, class: 'btn btn-primary' %>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </tbody>
</table>
</div>
<br>
