<p>
</p>
<div class="new_material_div">
  <div class="row">
    <div class="col-md-12 col-md-offset-2">
      <h3>Vous devez être ici pour ajouter un matériel, dans ce cas, cliquez ci-dessous :</h3>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <button type="button" name="button" class="btn btn-success btn-add-new-material" data-dismiss="modal" data-toggle="modal" data-target="#NewMaterial" id='new_material_btn'>Ajouter un matériel</button>
    </div>
  </div>
</div>

<div class="clean-fields modals-create-material">
  <!-- 1 - Choix du type de matériel. -->
  <div class="container-modal">
    <div class="modal fade" id="NewMaterial" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Créer un matériel</h4>
            <h5 class="modal-title">Type de matériel</h5>
          </div>
          <div class="modal-body">
            <%= select_tag "SelectTypeMaterial", options_for_select(@type_materials.collect{|type_material| [type_material.name.titleize, type_material.id]}), {:class => "dropdownSearchCreate"}%><br>
          </div>
          <div class="modal-footer">
            <p>1/6</p>
            <button id="TypeMaterialNext" type="button" class="btn btn-success btn-next1" data-dismiss="modal" data-toggle="modal" data-target="#ChoiceSpecs">Suivant</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 2 - Choix des specs -->
  <div class="container-modal">
    <div class="modal fade" id="ChoiceSpecs" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Créer un matériel</h4>
            <h5 class="modal-title">Caractéristiques</h5>
          </div>
          <div class="modal-body modal-body-specs">
            <div class="row">
              <div class="col-md-8" id="SelectMaterialDiv">
              <%= select_tag "SelectMaterial", options_for_select(@materials.collect{|material| [material.name.titleize, material.id]}), {class: "dropdownSearchCreate"} %><br><br>
                </div>
            </div>

            <div id="fields-specs-types-materials">
              <% @material_specs.keys.each do |ms| %>
              <div class="row">
                <div class="col-md-4" id="fields-specs-types-titles">
                  <input type="text" value="<%= ms.to_s %>" disabled class="form-control">
                  <br>
                </div>
                <div class="col-md-4" id="fields-specs-types-values">
                  <input type="text" name="<%= @material_specs[ms].to_s %>" class="form-control" value="<%= @material_specs[ms].to_s %>">
                  <br>
                </div>
                <div class='col-md-4' id='div-btns-delete-row'>
                    <button class='btn btn-danger' id='btn-delete-row'>&#8211;</button>
                    <br><br>
                </div>
              </div>
              <% end %>
            </div>
              <div class="row">
                <div class="col-md-8">
                  <button type="button" name="button" class="btn btn-success" id="add-fields-specs-types" style="width:100%;">+</button>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <p>2/6</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#NewMaterial">Précédent</button>
            <button type="button" class="btn btn-success btn-next" id="ChoiceSellerTest">Suivant</button>
            <button type="button" class="btn btn-success" id="ChoiceSellerOk" data-dismiss="modal" data-toggle="modal" data-target="#ChoiceSeller" style="display:none;"></button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(){
    $(document).on( 'click', '#add-fields-specs-types', function(){
      var dejaPresent = [];
      $.ajax({
        url: '/materials/get_all_specs_types',
        type: 'GET',
        dataType: 'json',
        success: function(result){
          $('#fields-specs-types-materials > .row > #fields-specs-types-titles > input[type="text"]').each(function(){
            dejaPresent.push($(this).val());
          });
          $('#fields-specs-types-materials > .row > #fields-specs-types-titles > select[name="all-specs-types"] > option:selected').each(function(){
            dejaPresent.push($(this).text());
          });
          for (var index in dejaPresent){
            for (var item in result){
              if (dejaPresent[index] == result[item]['name']){
                result.splice(item, 1);
              }
            }
          }
              $('#fields-specs-types-materials').append("<div class='row'><div class='col-md-4' id='fields-specs-types-titles'></div><div class='col-md-4' id='fields-specs-types-values'></div><div class='col-md-4' id='div-btns-delete-row'></div></div>")
              $('#fields-specs-types-materials > .row:last > #fields-specs-types-titles').append("<select name='all-specs-types' class='form-control dropdownSearch'></select><br>");
            for (var index in result){
              $('#fields-specs-types-materials > .row:last > #fields-specs-types-titles > select[name="all-specs-types"]').append("<option value='" + JSON.stringify(result[index]['id']) + "'>" + result[index]['name'] + "</option>");
            }
              $('#fields-specs-types-materials > .row:last > #fields-specs-types-titles > select[name="all-specs-types"]').selectize({create: true, persist: false});
          $('#fields-specs-types-materials > .row:last > #fields-specs-types-values').append("<input type='text' class='form-control'><br>");
          $('#fields-specs-types-materials > .row:last > #div-btns-delete-row').append("<button class='btn btn-danger' id='btn-delete-row'>&#8211;</button><br><br>");
        }
      });
    });
    $(document).on('click', '#btn-delete-row', function(){
      $(this).closest('.row').remove();
    });
    // Verification des données avant l'envoi
    $(document).on('click', '#ChoiceSellerTest', function(){
      var validTitles = [];
      var countDouble = 0;
      $('#fields-specs-types-titles > input[type="text"]').each(function(){
        if($.inArray($(this).val(), validTitles) === -1){
          validTitles.push($(this).val());
        }else{
          countDouble++;
          return;
        }
      });
      $('#fields-specs-types-titles > select').each(function(){
                if($.inArray($(this).text(), validTitles) === -1){
          validTitles.push($(this).text());
        }else{
          countDouble++;
          return;
        }
      });
        if(countDouble == 0){
          $("#ChoiceSellerOk").trigger('click');
        }else{
          alert("Un doublon est présent dans la liste. Merci de vérifier.")
        }
    });
  });
  </script>

  <!-- 3 - Choix du vendeur -->
  <div class="container-modal">
    <div class="modal fade" id="ChoiceSeller" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Créer un matériel</h4>
            <h5 class="modal-title">Choix du vendeur</h5>
          </div>
          <div class="modal-body modal-body-seller">
            <div class="row">
              <div class="col-md-8" id="SelectSellersDiv">
              <%= select_tag "SelectSellers", options_for_select(@sellers.collect{|seller| [seller.name.titleize, seller.id]}), {class: "dropdownSearchCreate"} %><br><br>
                </div>
            </div>
            <div id="fields-seller-with-btn-add">
              <div id="fields-sellers">
                <% @seller.field_seller_sellers.each do |fss| %>
                <div class="row">
                  <div class="col-md-4" id="fields-sellers-titles">
                    <input type="text" name="name" value="<%= fss.field_seller.name %>" class="form-control" disabled><br>
                  </div>
                  <div class="col-md-4" id="fields-sellers-values">
                    <input type="text" name="name" value="<%= fss.content %>" class="form-control"><br>
                  </div>
                  <div class="col-md-4" id="div-btns-delete-row">
                    <button type="button" name="button" class='btn btn-danger' id="btn-delete-row">&#8211;</button>
                  </div>
                </div>
              <% end %>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <button type="button" name="button" class="btn btn-success" id="add-fields-sellers" style="width:100%;">+</button>
                </div>
              </div>
            </div>
          </div>
          <script type="text/javascript">
            $(document).ready(function(){
              $(document).on('click', '#add-fields-sellers', function(){
                var dejaPresent = [];
                $.ajax({
                  url: '/sellers/get_all_field_sellers',
                  type: 'GET',
                  dataType: 'json',
                  success: function(result){
                    $('#fields-seller-with-btn-add > #fields-sellers > .row > #fields-sellers-titles > input[type="text"]').each(function(){
                      dejaPresent.push($(this).val());
                    });
                    $('#fields-seller-with-btn-add > #fields-sellers > .row > #fields-sellers-titles > select[name="all-fields-sellers"] > option:selected').each(function(){
                      dejaPresent.push($(this).text());
                    });
                    for (var index in dejaPresent){
                      for (var item in result){
                        if (dejaPresent[index] == result[item]['name']){
                          result.splice(item, 1);
                        }
                      }
                    }
                        $('.modal-body-seller').append('<div id="fields-sellers"></div> ');
                        $('#fields-sellers').append("<div class='row'><div class='col-md-4' id='fields-sellers-titles'></div><div class='col-md-4' id='fields-sellers-values'></div><div class='col-md-4' id='div-btns-delete-row'></div></div>")
                        $('#fields-sellers > .row:last > #fields-sellers-titles').append("<select name='all-fields-sellers' class='form-control dropdownSearch'></select><br>");
                      for (var index in result){
                        $('#fields-sellers > .row:last > #fields-sellers-titles > select[name="all-fields-sellers"]:last').append("<option value='" + JSON.stringify(result[index]['id']) + "'>" + result[index]['name'] + "</option>");
                      }
                        $('#fields-sellers > .row:last > #fields-sellers-titles > select[name="all-fields-sellers"]:last').selectize({create: true, persist: false});
                    $('#fields-sellers > .row:last > #fields-sellers-values').append("<input type='text' class='form-control'><br>");
                    $('#fields-sellers > .row:last > #div-btns-delete-row').append("<button class='btn btn-danger' id='btn-delete-row'>&#8211;</button><br><br>");
                  }
                });
              });
              // Verification des données avant l'envoi
              $(document).on('click', '#ChoiceTypeDetentorTestBtn', function(){
                var validTitles = [];
                var countDouble = 0;
                $('#fields-sellers > .row > #fields-sellers-titles > input[type="text"]').each(function(){
                  if($.inArray($(this).val(), validTitles) === -1){
                    validTitles.push($(this).val());
                  }else{
                    countDouble++;
                    return;
                  }
                });
                $('#fields-sellers > .row > #fields-sellers-titles > select').each(function(){
                          if($.inArray($(this).text(), validTitles) === -1){
                    validTitles.push($(this).text());
                  }else{
                    countDouble++;
                    return;
                  }
                });
                  if(countDouble == 0){
                    $("#ChoiceTypeDetentorOkBtn").trigger('click');
                  }else{
                    alert("Un doublon est présent dans la liste. Merci de vérifier.")
                  }
              });
            });
          </script>
          <div class="modal-footer">
            <p>3/6</p>
            <button type="button" id="ChoiceSpecsReturn" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#ChoiceSpecs">Précédent</button>
            <button type="button" class="btn btn-success btn-next" id="ChoiceTypeDetentorTestBtn">Suivant</button>
            <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#ChoiceTypeDetentor" style="display:none;" id="ChoiceTypeDetentorOkBtn"></button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 4 - Choix du type de détenteur -->
  <div class="container-modal">
    <div class="modal fade" id="ChoiceTypeDetentor" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Créer un matériel</h4>
            <h5 class="modal-title">Type de détenteur</h5>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12" id="SelectDetentorTypeDiv">
              <%= select_tag "SelectDetentorType", options_for_select(@detentor_types.collect{|detentor_type| [detentor_type.name.titleize, detentor_type.id]}), {class: "dropdownSearch"} %><br><br>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <p>4/6</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#ChoiceSeller">Précédent</button>
            <button type="button" class="btn btn-success btn-next" data-dismiss="modal" data-toggle="modal" data-target="#ChoiceDetentor">Suivant</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 5 - Choix du détenteur -->
  <div class="container-modal">
    <div class="modal fade" id="ChoiceDetentor" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Créer un matériel</h4>
            <h5 class="modal-title">Choix du détenteur</h5>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12" id="SelectDetentorDiv">
              <%= select_tag "SelectDetentor", options_for_select(@possible_detentors.collect{|possible_detentor| [possible_detentor.name.titleize, possible_detentor.id]}), {class: "dropdownSearch"} %><br><br>
                </div>
            </div>

          </div>
          <div class="modal-footer">
            <p>5/6</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#ChoiceTypeDetentor">Précédent</button>
            <button id="VerifAndValidBtn" type="button" class="btn btn-success btn-next" data-dismiss="modal" data-toggle="modal" data-target="#VerifAndValid">Suivant</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 6 - Vérification et résumé -->
  <div class="container-modal">
    <div class="modal fade" id="VerifAndValid" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Créer un matériel</h4>
            <h5 class="modal-title">Confirmation</h5>
          </div>
          <div class="modal-body" id="modal-body-validation">
          </div>
          <script type="text/javascript">
          $(document).ready(function(){
            $(document).on('click', '#VerifAndValidBtn', function(){
              var materialType = $('#SelectTypeMaterial option:selected').text();
              var materialName = $('#SelectMaterial option:selected').text();

              var seller = $('#SelectSellers option:selected').text();
              var detentorType = $('#SelectDetentorType option:selected').text();
              var detentor = $('#SelectDetentor option:selected').text();
              var titlesSeller = [];
              var valuesSeller = [];
              var sellerVals = [];
              var valueSpecs = [];
              var titlesSpecs = [];
              var specs = {};
              // stockage des valeurs pour les specs
              $('#fields-specs-types-materials > .row > #fields-specs-types-titles > input[type="text"]').each(function(){
                titlesSpecs.push($(this).val());
              });
              $('#fields-specs-types-materials > .row > #fields-specs-types-titles > select').each(function(){
                  titlesSpecs.push($(this).text());
              });
              $('#fields-specs-types-materials > .row > #fields-specs-types-values > input[type="text"]').each(function(){
                valueSpecs.push($(this).val());
              });
              $('#fields-specs-types-materials > .row > #fields-specs-types-values > select').each(function(){
                valueSpecs.push($(this).text());
              });
              titlesSpecs.forEach(function(item, index){
                specs[item] = valueSpecs[index];
              });

              // stockage des valeurs pour le vendeur
              $('#fields-sellers > .row > #fields-sellers-titles > input[type="text"]').each(function(){
                titlesSeller.push($(this).val());
              });
              $('#fields-sellers > .row > #fields-sellers-titles > select').each(function(){
                  titlesSeller.push($(this).text());
              });

              $('#fields-sellers > .row > #fields-sellers-values > input[type="text"]').each(function(){
                valuesSeller.push($(this).val());
              });
              $('#fields-sellers > .row > #fields-sellers-values > select').each(function(){
                  valuesSeller.push($(this).text());
              });

              titlesSeller.forEach(function(item, index){
                sellerVals[item] = valuesSeller[index];
              });

                $("#modal-body-validation").empty();
                $("#modal-body-validation").append("<p>Type de matériel : " + materialType + "</p>");
                $("#modal-body-validation").append("<hr>");
                $("#modal-body-validation").append("<p>Nom du matériel : " + materialName + "</p>");

                for (var item in specs){
                  $("#modal-body-validation").append("<p>" + item + " : " + specs[item] + "</p>");
                }
                $("#modal-body-validation").append("<hr>");
                $("#modal-body-validation").append("<p>Vendeur : " + seller + "</p>");
                for (var item in sellerVals){
                  $("#modal-body-validation").append("<p>" + item + " : " + sellerVals[item] + "</p>");
                }
                $("#modal-body-validation").append("<hr>");
                $("#modal-body-validation").append("<p>Type de détenteur : " + detentorType + "</p>");
                $("#modal-body-validation").append("<p>Détenteur : " + detentor + "</p>");

            });
          });
          </script>
          <div class="modal-footer">
            <p>6/6</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#ChoiceDetentor">Précédent</button>
            <button type="button" class="btn btn-success btn-next" id="createMaterialOk" data-dismiss="modal">Créer</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
// $(document).keypress(function(e) {
//     if(e.which == 13) {
//         $(".modal.fade.in > .btn-next1").click();
//     }
// });
$(document).on('click', '#createMaterialOk', function(){
  // Recupération du type de matériel, de l'id du vendeur, du type de détenteur et de l'id du détenteur.
  var materialType = $('#SelectTypeMaterial option:selected').text();
  var materialName = $('#SelectMaterial option:selected').text();
  var sellerName = $('#SelectSellers option:selected').text();
  var detentorType = $('#SelectDetentorType option:selected').val();
  var detentor = $('#SelectDetentor option:selected').val();
  var titlesSeller = [];
  var valuesSeller = [];
  var sellerVals = {};
  var valueSpecs = [];
  var titlesSpecs = [];
  var specs = {};
  // Récupération des titres de valeurs pour les specs dans les champs textes
  $('#fields-specs-types-materials > .row > #fields-specs-types-titles > input[type="text"]').each(function(){
    titlesSpecs.push($(this).val());
  });
  // Récupération des titres de valeurs pour les specs dans les champs select
  $('#fields-specs-types-materials > .row > #fields-specs-types-titles > select').each(function(){
      titlesSpecs.push($(this).text());
  });
  // Récupération des valeurs pour les specs dans les champs textes
  $('#fields-specs-types-materials > .row > #fields-specs-types-values > input[type="text"]').each(function(){
    valueSpecs.push($(this).val());
  });
  // Récupération des valeurs pour les specs dans les champs select
  $('#fields-specs-types-materials > .row > #fields-specs-types-values > select').each(function(){
    valueSpecs.push($(this).text());
  });
  // Rassemblement des valeurs pour faire des tuples
  titlesSpecs.forEach(function(item, index){
    specs[item] = valueSpecs[index];
  });
  // Récupération des titres de valeurs pour les vendeurs dans les champs textes
  $('#fields-sellers > .row > #fields-sellers-titles > input[type="text"]').each(function(){
    titlesSeller.push($(this).val());
  });
  // Récupération des titres de valeurs pour les vendeurs dans les champs select
  $('#fields-sellers > .row > #fields-sellers-titles > select').each(function(){
      titlesSeller.push($(this).text());
  });
  // Récupération des valeurs pour les vendeurs dans les champs textes
  $('#fields-sellers > .row > #fields-sellers-values > input[type="text"]').each(function(){
    valuesSeller.push($(this).val());
  });
  // Récupération des valeurs pour les vendeurs dans les champs select
  $('#fields-sellers > .row > #fields-sellers-values > select').each(function(){
      valuesSeller.push($(this).text());
  });
  // Rassemblement des valeurs pour faire des tuples
  titlesSeller.forEach(function(item, index){
    sellerVals[item] = valuesSeller[index];
  });
  $.ajax({
    url: '/materials',
    type: 'POST',
    dataType: 'json',
    data: {
      "material": {
        type_material_name: materialType,
        material_name: materialName
      },
      seller_name: sellerName,
      detentor_type_id: detentorType,
      detentor_id: detentor,
      seller_specs: sellerVals,
      specs_values: specs
    },
    success: function(result){
      alert("Le matériel a bien été créé !");
    },
    error: function(result){
      alert(result.responseText);
    }
  });
});
$(document).ready(function(){
  $('#new_material_btn').click();
});
</script>
