<% if current_user == nil %>
<div class="login-page">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h1 class="home">Bienvenue sur la page d'accueil de TickMaster.</h1><br><br><br><br><br><br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 login-box-body">
      <%= form_for(:session, :url => sessions_path, html: {class: "connect-user"}) do |f| %>
      <div class="field form-group">

        <% @arr = [] %>
        <% @arr = User.find_by_sql('SELECT users.pseudo FROM users INNER JOIN type_users ON users.type_user_id = type_users.id WHERE type_users.secure = true').collect{|u| u.pseudo} %>
        <%= f.text_field :pseudo, class: "form-control pseudo-entry", placeholder: "Pseudonyme(en minuscules)", id: 'next' %>
        <%= f.password_field :password, class: "form-control password-entry", placeholder: "Mot de passe" %>
        <script type="text/javascript">
        $(document).ready(function () {
          var count = "<%= User.find_by_sql('SELECT users.id, users.name, users.surname FROM users INNER JOIN type_users ON users.type_user_id = type_users.id WHERE type_users.secure = true').count %>";
          $(".password-entry").hide();
          $(".password-entry").val(' ');
          $(".pseudo-entry").keyup(function () {
            $(".alert").hide(100);
            for (var i = 0; i < count; i++) {
              if (<%= @arr.to_json.html_safe %>.indexOf($(".pseudo-entry").val()) > -1) {
                $(".pseudo-entry").attr('id', 'next');
                $(".password-entry").show(100);
                $(".password-entry").addClass('next');
                $(".password-entry").val('');
              } else {
                $(".password-entry").hide(100);
                $(".password-entry").val(' ');
                $(".password-entry").attr('id', '');
              }
            }
          });

          $(".pseudo-entry").change(function () {
            $(".alert").hide(100);
            for (var i = 0; i < count; i++) {
              if (<%=@arr.to_json.html_safe%>.indexOf($(".pseudo-entry").val()) > -1) {
                $(".password-entry").show(100);
                $(".password-entry").focus();
                $(".pseudo-entry").attr('id', 'next');
                $(".password-entry").addClass('next');
                $(".password-entry").val('');
              } else {
                $(".password-entry").hide(100);
                $(".password-entry").val(' ');
              }
            }
          });
        });
        </script>
        <% if flash.now[:error] != nil %>
        <div class="alert alert-danger">
          <%= flash.now[:error]%>
        </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
          <%= f.submit "Se connecter", id: "sendButton", class: "btn btn-flat btn-success btn-flat btn-block" %><br>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
          <%= link_to "Pas encore inscrit ?", signup_path, class: "btn btn-flat btn-primary btn-block btn-flat"%>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <%= link_to 'Mot de passe oublié', forget_credentials_sessions_path, class: "btn btn-flat btn-danger btn-block btn-flat" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <style media="screen">
    .content-wrapper{
      margin-left: 0 !important;
    }
  </style>

</div>
<% else %>
<p class="alert_non_authorized" id="connected">
  <%= flash.now[:alert] = "Vous êtes déjà connecté !"%>
</p>

<% end %>
