<div class="nav-side-menu <%= current_user != nil ? current_user.mode : 'Jour'%>">
  <a class="brand">
    TickMaster
  </a>
  <i class=" fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <% if !current_user.nil? %>
      <% if Right.where(name: "create_procedure").pluck(current_user.tech.name).join('')  == 'true' %>
      <li data-toggle="collapse" data-target="#procedures" class="collapsed active"><%= image_tag("ICOMOON/32pxBlack/032-book.png", size: "16x16", alt: "", class: "fa-img") %>
        <a href="#">
          <i class="fa fa-gift fa-lg" style="padding-top:20px; padding-bottom:20px;"></i>Procédures</a>
      </li>
      <ul class="sub-menu collapse" id="procedures">
        <li><%= link_to 'Liste procedures', procedures_path, class: "", :method => :get %></li>
        <li><%= link_to "Créer procédure", new_procedure_path, class: "", :method => :get %></li>
        <% else %>
        <% if Right.where(name: "view_procedures").pluck(current_user.tech.name).join('')  == 'true' %>

        <% if current_user.mode == "Jour" %>
        <li><%= image_tag("ICOMOON/32pxBlack/032-book.png", size: "16x16", alt: "", class: "fa-img")%>
          <% elsif current_user.mode == "Nuit" %>
        <li><%= image_tag("ICOMOON/16px/0032-book.png", size: "16x16", alt: "", class: "fa-img")%>
          <% end %>

        <i class="fa fa-gift fa-lg"></i>
        <%= link_to "Procedures", procedures_path, class: "", method: :get, style:"padding-left: 30px !important; padding:20px; padding-right: 40px !important;"  %></li>
        <% end %>
        <% end %>
      </ul>
    <li class="new_incident_button">
      <a href="<%= new_incident_path %>"><%= image_tag("ICOMOON/32pxBlack/267-plus.png", size: "16x16", alt: "", class: "fa-img") %></a>
      <a href="/incidents/new" data-no-turbolink="true">
        <i class="fa fa-dashboard fa-lg" style="padding-top:20px; padding-bottom:20px;">Nouvel incident</i>
      </a>
    </li>

    <li data-toggle="collapse" data-target="#incidents" class="collapsed active"><%= image_tag("accidents.png", size: "16x16", alt: "", class: "fa-img") %>
      <a href="#"><i class="fa fa-gift fa-lg" style="padding-top:20px; padding-bottom:20px;"></i>Incidents</a>
    </li>
    <ul class="sub-menu collapse" id="incidents">
      <% my_incidents = current_user.user_incidents.where(incident_state_id_for_user: [4, 8]).count %>
      <li><%= link_to 'Mes incidents', current_user, class: "", :method => :get %><%= my_incidents > 0 ? "(#{my_incidents})" : nil %></li>
      <% if !current_user.tech.simple_user %>
      <% to_treat = current_user.tech_incidents.where(incident_state_id_for_tech: [2, 3]).count %>
      <li><%= link_to "A traiter", to_treat_user_path(current_user), class: "", :method => :get %><%= to_treat > 0 ? "(#{to_treat})" : nil %></li>
      <% without_tech = Incident.where(tech_id: nil).count %>
      <li><%= link_to "Non attribués", incidents_without_tech_incident_path(current_user), class: "", :method => :get%><%= without_tech > 0 ? "(#{without_tech})" : nil %></li>
      <% if Right.where(name: "view_index_all_of_incidents").pluck(current_user.tech.name).join('')  == 'true'%>
      <li><%= link_to "Tous les incidents", incidents_url, class: "", :method => :get%></li>
      <% end %>
      <% end %>
      <li><%= link_to 'Cloturés/Rejetés', allincidents_user_path(current_user), :method => :get %></li>
    </ul>
    <% end %>

    <% if !current_user.nil? && Right.where(name: "view_index_categories").pluck(current_user.tech.name).join('')  == 'true' %>
    <li><%= image_tag("ICOMOON/32pxBlack/189-tree.png", size: "16x16", alt: "", class: "fa-img")%>
    <i class="fa fa-gift fa-lg"></i>
    <%= link_to "Categories", categories_url, class: "", method: :get, style:"padding:20px; padding-right: 40px !important;"  %></li>
  <% end %>

  <% if !current_user.nil? && Right.where(name: "create_new_tech").pluck(current_user.tech.name).join('')  == 'true' %>
<li data-toggle="collapse" data-target="#users" class="collapsed active"><%= image_tag("ICOMOON/32pxBlack/115-users.png", size: "16x16", alt: "", class: "fa-img") %>
  <a href="#">
    <i class="fa fa-gift fa-lg" style="padding-top:20px; padding-bottom:20px;"></i>Utilisateurs</a>
</li>
<ul class="sub-menu collapse" id="users">
  <li><%= link_to "Tous les utilisateurs", users_url, class: " ", tabindex: -1, :method => :get  %></li>
  <li><%= link_to "Créer un utilisateur", signup_path, class: " ", tabindex: -1, :method => :get  %></li>
</ul>
  <% else %>
  <% if !current_user.nil? && Right.where(name: "view_index_users").pluck(current_user.tech.name).join('')  == 'true' %>
  <li><%= image_tag("ICOMOON/32pxBlack/115-users.png", size: "16x16", alt: "", class: "fa-img")%>
  <i class="fa fa-gift fa-lg"></i>
  <%= link_to "Utilisateurs", users_url, class: "", method: :get, style:"padding:20px; padding-right: 40px !important;"  %></li>
  <% end %>

<%end%>

<% if !current_user.nil? && Right.where(name: "view_index_rights").pluck(current_user.tech.name).join('')  == 'true' %>
<li data-toggle="collapse" data-target="#rights" class="collapsed active"><%= image_tag("ICOMOON/32pxBlack/147-equalizer.png", size: "16x16", alt: "", class: "fa-img") %>
<a href="#">
  <i class="fa fa-gift fa-lg" style="padding-top:20px; padding-bottom:20px;"></i>Droits</a>
</li>
<ul class="sub-menu collapse" id="rights">
<li><%= link_to "Liste des droits", rights_url, class: " ", tabindex: -1, :method => :get  %></li>
<% if !current_user.nil? && Right.where(name: "create_new_right").pluck(current_user.tech.name).join('')  == 'true' %>
<li><%= link_to "Créer un droit", new_right_path, class: " ", tabindex: -1, :method => :get  %></li>
<% end %>

</ul>
<% end %>


<% if !current_user.nil? && Right.where(name: "create_new_agency").pluck(current_user.tech.name).join('')  == 'true' %>
<li data-toggle="collapse" data-target="#agencies" class="collapsed active"><%= image_tag("ICOMOON/32pxBlack/004-office.png", size: "16x16", alt: "", class: "fa-img") %>
<a href="#">
<i class="fa fa-gift fa-lg" style="padding-top:20px; padding-bottom:20px;"></i>Agences</a>
</li>
<ul class="sub-menu collapse" id="agencies">
<li><%= link_to "Liste des agences", agencies_url, class: " ", tabindex: -1, :method => :get  %></li>
<li><%= link_to "Nouvelle agence", new_agency_path, class: " ", tabindex: -1, :method => :get  %></li>
</ul>
<% else %>
<% if !current_user.nil? &&  Right.where(name: "view_index_agencies").pluck(current_user.tech.name).join('')  == 'true' %>
<li><%= image_tag("ICOMOON/32pxBlack/004-office.png", size: "16x16", alt: "", class: "fa-img")%>
<i class="fa fa-gift fa-lg"></i>
<%= link_to "Agences", agencies_url, class: "", method: :get, style:"padding-left: 30px !important; padding:20px; padding-right: 40px !important;"  %></li>
<% end %>

<% end %>


<% if !current_user.nil? %>
<li><%= image_tag("ICOMOON/32pxBlack/066-lifebuoy.png", size: "16x16", alt: "", class: "fa-img")%>
<i class="fa fa-gift fa-lg"></i>
<%= link_to "Aide", pages_help_path, class: "", method: :get, style:"padding-left: 30px !important; padding:20px; padding-right: 40px !important;"  %></li>
<li><%= image_tag("ICOMOON/32pxBlack/264-warning.png", size: "16x16", alt: "", class: "fa-img")%>
<i class="fa fa-gift fa-lg"></i>
<%= mail_to "jeremy.montesinos@cle-expertises.fr", "Bug/Suggestion", cc: "jerome.guillot@cle-expertises.fr", subject: "Bug ou suggestion à propos de TickMaster", class: "", style:"padding-left: 30px !important; padding:20px; padding-right: 40px
!important;" %></li>
<% end %>

    </ul>
  </div>
</div>

<header>
    <nav class="navbar navbar-default nav-collapse navbar-fixed-top navbar-right <%= current_user != nil ? current_user.mode : 'Jour'%>">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="title-site navbar-brand openIt" href='/' data-no-turbolink="true">TickMaster</a>
          <a class="title-site navbar-brand by-cle openIt click">by<%= image_tag("cle.png", size: "60x20", alt: "Cle Expertises")%></a>
        </div>
        <h3 class="title-on-page"><%= @title %></h3>
        <% if !current_user.nil? %>
        <li class="whoisconnected">

          <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag "ICOMOON/32pxBlack/114-user.png" %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><%= link_to"#{current_user.name} #{current_user.surname}", profil_user_path(current_user)%></a></li>
            <li><%= link_to "Se déconnecter", signout_path, method: :get %></li>
            <% if current_user.mode == "Jour" %>
            <li><%= link_to "Passer en mode nuit", mode_nuit_jour_user_path(current_user), method: :get %></li>
            <% else %>
            <li><%= link_to "Passer en mode jour",  mode_nuit_jour_user_path(current_user), method: :get %></li>
            <% end %>
          </ul>

        </li>
        <% end %>
      </div>
    </nav>
  <!-- /.container-fluid -->
</header>

<script type="text/javascript">
function contrast(){
  $("#content").css("background", "url('app/assets/images/halftone.png') repeat fixed !important");
}

$(document).ready(function () {
  var url = document.URL;
  segments = url.split("/");
  var action = segments[3];
  var idAction = segments[4];
  var supplementAction = segments[5];
  switch (action) {
    case "users":
      if (jQuery.type(idAction) != "undefined" && (jQuery.type(supplementAction) === "undefined" || supplementAction === "to_treat" || supplementAction === 'allincidents')) {
        $(".active[data-target='#incidents']").removeClass('collapsed').attr('aria-expanded', true);
        $("#incidents").addClass('in').attr('aria-expanded', true);
      } else {
        $(".active[data-target='#users']").removeClass('collapsed').attr('aria-expanded', true);
        $("#users").addClass('in').attr('aria-expanded', true);
      }
      break;

    case "signup":
      $(".active[data-target='#users']").removeClass('collapsed').attr('aria-expanded', true);
      $("#users").addClass('in').attr('aria-expanded', true);
      break;

    case "incidents":
      $(".active[data-target='#incidents']").removeClass('collapsed').attr('aria-expanded', true);
      $("#incidents").addClass('in').attr('aria-expanded', true);
      break;

    case "categories":
      $(".active[data-target='#categories']").removeClass('collapsed').attr('aria-expanded', true);
      $("#categories").addClass('in').attr('aria-expanded', true);
      break;

    case "sous_categories":
      $(".active[data-target='#categories']").removeClass('collapsed').attr('aria-expanded', true);
      $("#categories").addClass('in').attr('aria-expanded', true);
      break;

    case "rights":
      $(".active[data-target='#rights']").removeClass('collapsed').attr('aria-expanded', true);
      $("#rights").addClass('in').attr('aria-expanded', true);
      break;

    case "agencies":
      $(".active[data-target='#agencies']").removeClass('collapsed').attr('aria-expanded', true);
      $("#agencies").addClass('in').attr('aria-expanded', true);
      break;

    default:
      break;
  }
  $(".active[data-target='#incidents']").click(function () {
    $(".active[data-target='#categories']").addClass('collapsed').attr('aria-expanded', false);
    $("#categories").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#users']").addClass('collapsed').attr('aria-expanded', false);
    $("#users").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#rights']").addClass('collapsed').attr('aria-expanded', false);
    $("#rights").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#agencies']").addClass('collapsed').attr('aria-expanded', false);
    $("#agencies").removeClass('in').attr('aria-expanded', false);
  });
  $(".active[data-target='#categories']").click(function () {
    $(".active[data-target='#incidents']").addClass('collapsed').attr('aria-expanded', false);
    $("#incidents").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#users']").addClass('collapsed').attr('aria-expanded', false);
    $("#users").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#rights']").addClass('collapsed').attr('aria-expanded', false);
    $("#rights").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#agencies']").addClass('collapsed').attr('aria-expanded', false);
    $("#agencies").removeClass('in').attr('aria-expanded', false);
  });
  $(".active[data-target='#users']").click(function () {
    $(".active[data-target='#categories']").addClass('collapsed').attr('aria-expanded', false);
    $("#categories").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#incidents']").addClass('collapsed').attr('aria-expanded', false);
    $("#incidents").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#rights']").addClass('collapsed').attr('aria-expanded', false);
    $("#rights").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#agencies']").addClass('collapsed').attr('aria-expanded', false);
    $("#agencies").removeClass('in').attr('aria-expanded', false);
  });
  $(".active[data-target='#rights']").click(function () {
    $(".active[data-target='#categories']").addClass('collapsed').attr('aria-expanded', false);
    $("#categories").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#users']").addClass('collapsed').attr('aria-expanded', false);
    $("#users").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#incidents']").addClass('collapsed').attr('aria-expanded', false);
    $("#incidents").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#agencies']").addClass('collapsed').attr('aria-expanded', false);
    $("#agencies").removeClass('in').attr('aria-expanded', false);
  });
  $(".active[data-target='#agencies']").click(function () {
    $(".active[data-target='#categories']").addClass('collapsed').attr('aria-expanded', false);
    $("#categories").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#users']").addClass('collapsed').attr('aria-expanded', false);
    $("#users").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#rights']").addClass('collapsed').attr('aria-expanded', false);
    $("#rights").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#incidents']").addClass('collapsed').attr('aria-expanded', false);
    $("#incidents").removeClass('in').attr('aria-expanded', false);
  });
});
</script>
