<% %>
<div class="nav-side-menu">
  <a class="brand">TickMaster</a>
  <i class=" fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <% if !current_user.nil? %>
        <% if @create_procedure %>
          <li data-toggle="collapse" data-target="#procedures" class="collapsed active"><%= image_tag("ICONS/262.png", size: "26x26", alt: "", class: "fa-img") %>
            <a href="#"><i class="fa fa-gift fa-lg"></i>Procédures</a>
          </li>
          <ul class="sub-menu collapse" id="procedures">
            <li><%= link_to 'Liste procedures', procedures_path, method: :get %></li>
            <li><%= link_to "Créer procédure", new_procedure_path, method: :get %></li>
        <% else %>
          <% if @view_procedures %>
              <li><%= image_tag("ICONS/262.png", size: "26x26", alt: "", class: "fa-img")%>
            <i class="fa fa-gift fa-lg"></i>
            <%= link_to "Procedures", procedures_path, method: :get %></li>
          <% end %>
        <% end %>
          </ul>

        <li data-toggle="collapse" data-target="#incidents" class="collapsed active"><%= image_tag("ICONS/153.png", size: "26x26", alt: "", class: "fa-img") %>
          <a href="#"><i class="fa fa-gift fa-lg"></i>Incidents</a>
        </li>
        <ul class="sub-menu collapse" id="incidents">
          <% my_incidents = current_user.user_incidents.where(incident_state_id_for_user: [4, 8]).count %>
          <li><%= link_to "Mes incidents (#{my_incidents})", current_user, method: :get %></li>
          <% if !current_user.type_user.is_tech %>
            <% to_treat = current_user.tech_incidents.where(incident_state_id_for_tech: [2, 3, 5, 6]).count %>
            <li><%= link_to "A traiter (#{to_treat})", to_treat_user_path(current_user), method: :get %></li>
            <% without_tech = Incident.where(tech_id: nil).where.not(incident_state_id_for_tech: [7, 10]).count %>
            <li><%= link_to "Non attribués (#{without_tech})", incidents_without_tech_incident_path(current_user), method: :get%></li>
            <% if @view_index_all_of_incidents%>
            <% all_incidents = Incident.all.count %>
              <li><%= link_to "Tous les incidents (#{all_incidents})", incidents_url, method: :get%></li>
            <% end %>
          <% end %>
          <li><%= link_to 'Cloturés/Rejetés', allincidents_user_path(current_user), method: :get %></li>
        </ul>
      <% end %>
      <% if !current_user.nil? && @view_index_categories %>
        <li data-toggle="collapse" data-target="#categ" class="collapsed active"><%= image_tag("ICONS/572.png", size: "26x26", alt: "", class: "fa-img") %>
          <a href="#"><i class="fa fa-gift fa-lg"></i>Categories</a>
        </li>
        <ul class="sub-menu collapse" id="categ">
          <li><%= link_to "Liste des categories", categories_path, class: " ", tabindex: -1, method: :get  %></li>
          <li><%= link_to "Liste des sous categories", sous_categories_path, class: " ", tabindex: -1, method: :get  %></li>
        </ul>
      <% end %>
      <% if !current_user.nil? && @view_index_users %>
        <li data-toggle="collapse" data-target="#users" class="collapsed active"><%= image_tag("ICONS/349.png", size: "26x26", alt: "", class: "fa-img") %>
          <a href="#"><i class="fa fa-gift fa-lg"></i>Utilisateurs</a>
        </li>
        <ul class="sub-menu collapse" id="users">
          <li><%= link_to "Tous les utilisateurs", users_url, class: " ", tabindex: -1, method: :get  %></li>
          <% if !current_user.nil? && @create_new_tech %>
            <li><%= link_to "Créer un utilisateur", new_tech_users_path, class: " ", tabindex: -1, method: :get  %></li>
          <% end %>
        </ul>
      <%end%>
      <% if !current_user.nil? && @view_index_rights %>
        <li data-toggle="collapse" data-target="#rights" class="collapsed active"><%= image_tag("ICONS/236.png", size: "26x26", alt: "", class: "fa-img") %>
          <a href="#"><i class="fa fa-gift fa-lg"></i>Droits</a>
        </li>
        <ul class="sub-menu collapse" id="rights">
          <li><%= link_to "Liste des droits", rights_url, class: " ", tabindex: -1, method: :get  %></li>
          <li><%= link_to "Profils utilisateurs", type_users_path, class: " ", tabindex: -1, method: :get  %></li>
        </ul>
      <% end %>
      <% if !current_user.nil? &&  @view_index_agencies %>
        <li data-toggle="collapse" data-target="#agencies" class="collapsed active"><%= image_tag("ICONS/604.png", size: "26x26", alt: "", class: "fa-img") %>
          <a href="#"><i class="fa fa-gift fa-lg"></i>Agences</a>
        </li>
        <ul class="sub-menu collapse" id="agencies">
          <li><%= link_to "Liste des agences", agencies_url, class: " ", tabindex: -1, method: :get  %></li>
          <% if !current_user.nil? && @create_new_agency %>
          <li><%= link_to "Nouvelle agence", new_agency_path, class: " ", tabindex: -1, method: :get  %></li>
          <% end %>
        </ul>
        <% end %>
      <% if !current_user.nil? && @create_material %>
        <li data-toggle="collapse" data-target="#material" class="collapsed active"><%= image_tag("ICONS/1001.png", size: "24x24", alt: "", class: "fa-img") %>
          <a href="#">
          <i class="fa fa-gift fa-lg"></i>Matériel</a>
        </li>
        <ul class="sub-menu collapse" id="material">
          <li><%= link_to "Liste des matériels", materials_url, class: " ", tabindex: -1, method: :get  %></li>
          <li><%= link_to "Nouveau matériel", new_material_url, class: " ", tabindex: -1, method: :get  %></li>
          <li><%= link_to "Liste des vendeurs", sellers_url, class: " ", tabindex: -1, method: :get  %></li>
          <li><%= link_to "Champs vendeurs", fields_sellers_url, class: " ", tabindex: -1, method: :get  %></li>
        </ul>
      <% end %>
      <% if !current_user.nil? %>
      <li data-toggle="collapse" data-target="#aide" class="collapsed active"><%= image_tag("ICONS/522.png", size: "26x26", alt: "", class: "fa-img")%>
        <a href="#"><i class="fa fa-gift fa-lg"></i>Aide</a>
      </li>
      <ul class="sub-menu collapse" id="aide">
        <li><%= link_to "Faq", pages_help_path,tabindex:- 1, method: :get %></li>
        <li><%= mail_to "jeremy.montesinos@cle-expertises.fr", "Bug/Suggestion", cc: "jerome.guillot@cle-expertises.fr", subject: "Bug ou suggestion à propos de TickMaster", tabindex: -1 %>
      </ul>
      <% end %>
    </ul>
  </div>
</div>

<header>
  <nav class="navbar navbar-default nav-collapse navbar-fixed-top navbar-right">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="title-site navbar-brand openIt" href='/'>TickMaster</a>
        <a class="title-site navbar-brand by-cle openIt click">by<%= image_tag("cle.png", size: "60x20", alt: "Cle Expertises")%></a>
      </div>
      <h3 class="title-on-page"><%= @title.html_safe %></h3>
      <% if !current_user.nil? %>
      <div class="whoisconnected">
        <li class="dropdown-search">
          <a href="#" class="dropdown-toggle search-icon" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag "ICONS/013 MagnifyingGlass.png", size: "24x24" %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <li class="field"><input type="text" class="form-control" name="name" placeholder="Rechercher..."></li>
                  <li class="img"><%= image_tag "ICONS/013 MagnifyingGlass.png", size: "24x24"%></li>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <li class="li-radio"><input type="radio" class="form-control" name="user_incident_procedure_seller" value="user"></li><li class="li-text-input">Utilisateur</li>
                  <li class="li-radio"><input type="radio" class="form-control" name="user_incident_procedure_seller" value="user"></li><li class="li-text-input">Incident</li>
                  <li class="li-radio"><input type="radio" class="form-control" name="user_incident_procedure_seller" value="user"></li><li class="li-text-input">Procedure</li>
                  <li class="li-radio"><input type="radio" class="form-control" name="user_incident_procedure_seller" value="user"></li><li class="li-text-input">Vendeur</li>
                </div>
              </div>
            </form>
          </ul>
      </li>
          <li class="dropdown-notif">
            <a href="#" class="dropdown-toggle bell-icon" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag "ICONS/569.png", size: "32x32" %><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>Notifications à venir !</li>
            </ul>
          </li>
        <li class="dropdown-user">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag "ICONS/#{Random.new.rand(901..920)}.png", size: "32x32" %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to"#{current_user.name} #{current_user.surname}", profil_user_path(current_user)%></li>
            <li><%= link_to "Se déconnecter", signout_path, method: :get %></li>
            <% if @create_update %>
              <li><%= link_to "Créer une mise à jour", new_update_url %></li>
            <% end %>
            <% if @view_update %>
              <li><%= link_to "Liste des mise à jour", updates_url %></li>
            <% end %>
          </ul>
            <a href="<%= new_incident_path %>" id="btn_new_incident_top_right">+</a>
          </li>
        </div>
        </li>

      <% end %>
    </div>
  </nav>
  <!-- /.container-fluid -->
</header>

<script type="text/javascript">
function contrast() {
  $("#content").css("background", "url('app/assets/images/halftone.png') repeat fixed !important");
}

$(document).ready(function () {
  var url = document.URL;
  segments = url.split("/");
  var action = segments[3];
  var idAction = segments[4];
  var supplementAction = segments[5];
  switch (action) {
    case "users":
      if (jQuery.type(idAction) != "undefined" && (jQuery.type(supplementAction) === "undefined" || supplementAction === "to_treat" || supplementAction === 'allincidents')) {
        $(".active[data-target='#incidents']").removeClass('collapsed').attr('aria-expanded', true);
        $("#incidents").addClass('in').attr('aria-expanded', true);
      } else {
        $(".active[data-target='#users']").removeClass('collapsed').attr('aria-expanded', true);
        $("#users").addClass('in').attr('aria-expanded', true);
      }
      break;

    case "signup":
      $(".active[data-target='#users']").removeClass('collapsed').attr('aria-expanded', true);
      $("#users").addClass('in').attr('aria-expanded', true);
      break;

    case "incidents":
      $(".active[data-target='#incidents']").removeClass('collapsed').attr('aria-expanded', true);
      $("#incidents").addClass('in').attr('aria-expanded', true);
      break;

    case "categories":
      $(".active[data-target='#categories']").removeClass('collapsed').attr('aria-expanded', true);
      $("#categories").addClass('in').attr('aria-expanded', true);
      break;

    case "sous_categories":
      $(".active[data-target='#categories']").removeClass('collapsed').attr('aria-expanded', true);
      $("#categories").addClass('in').attr('aria-expanded', true);
      break;

    case "rights":
      $(".active[data-target='#rights']").removeClass('collapsed').attr('aria-expanded', true);
      $("#rights").addClass('in').attr('aria-expanded', true);
      break;

    case "agencies":
      $(".active[data-target='#agencies']").removeClass('collapsed').attr('aria-expanded', true);
      $("#agencies").addClass('in').attr('aria-expanded', true);
      break;
    case "procedures":
      $(".active[data-target='#procedures']").removeClass('collapsed').attr('aria-expanded', true);
      $("#procedures").addClass('in').attr('aria-expanded', true);
      break;
    case "materials":
      $(".active[data-target='#material']").removeClass('collapsed').attr('aria-expanded', true);
      $("#material").addClass('in').attr('aria-expanded', true);
      break;
    case "sellers":
      $(".active[data-target='#material']").removeClass('collapsed').attr('aria-expanded', true);
      $("#material").addClass('in').attr('aria-expanded', true);
      break;
    case "pages":
      $(".active[data-target='#aide']").removeClass('collapsed').attr('aria-expanded', true);
      $("#aide").addClass('in').attr('aria-expanded', true);
      break;

    default:
      break;
  }
  $(".active[data-target='#incidents']").click(function () {
    $(".active[data-target='#categories']").addClass('collapsed').attr('aria-expanded', false);
    $("#categories").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#users']").addClass('collapsed').attr('aria-expanded', false);
    $("#users").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#rights']").addClass('collapsed').attr('aria-expanded', false);
    $("#rights").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#agencies']").addClass('collapsed').attr('aria-expanded', false);
    $("#agencies").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#material']").addClass('collapsed').attr('aria-expanded', false);
    $("#material").removeClass('in').attr('aria-expanded', false);

    $(".active[data-target='#procedures']").addClass('collapsed').attr('aria-expanded', false);
    $("#procedures").removeClass('in').attr('aria-expanded', false);

  });
  $(".active[data-target='#categories']").click(function () {
    $(".active[data-target='#incidents']").addClass('collapsed').attr('aria-expanded', false);
    $("#incidents").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#users']").addClass('collapsed').attr('aria-expanded', false);
    $("#users").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#rights']").addClass('collapsed').attr('aria-expanded', false);
    $("#rights").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#agencies']").addClass('collapsed').attr('aria-expanded', false);
    $("#agencies").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#material']").addClass('collapsed').attr('aria-expanded', false);
    $("#material").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#procedures']").addClass('collapsed').attr('aria-expanded', false);
    $("#procedures").removeClass('in').attr('aria-expanded', false);

  });
  $(".active[data-target='#users']").click(function () {
    $(".active[data-target='#categories']").addClass('collapsed').attr('aria-expanded', false);
    $("#categories").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#incidents']").addClass('collapsed').attr('aria-expanded', false);
    $("#incidents").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#rights']").addClass('collapsed').attr('aria-expanded', false);
    $("#rights").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#agencies']").addClass('collapsed').attr('aria-expanded', false);
    $("#agencies").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#material']").addClass('collapsed').attr('aria-expanded', false);
    $("#material").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#procedures']").addClass('collapsed').attr('aria-expanded', false);
    $("#procedures").removeClass('in').attr('aria-expanded', false);


  });
  $(".active[data-target='#rights']").click(function () {
    $(".active[data-target='#categories']").addClass('collapsed').attr('aria-expanded', false);
    $("#categories").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#users']").addClass('collapsed').attr('aria-expanded', false);
    $("#users").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#incidents']").addClass('collapsed').attr('aria-expanded', false);
    $("#incidents").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#agencies']").addClass('collapsed').attr('aria-expanded', false);
    $("#agencies").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#material']").addClass('collapsed').attr('aria-expanded', false);
    $("#material").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#procedures']").addClass('collapsed').attr('aria-expanded', false);
    $("#procedures").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#agencies']").addClass('collapsed').attr('aria-expanded', false);
    $("#agencies").removeClass('in').attr('aria-expanded', false);


  });
  $(".active[data-target='#agencies']").click(function () {
    $(".active[data-target='#categories']").addClass('collapsed').attr('aria-expanded', false);
    $("#categories").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#users']").addClass('collapsed').attr('aria-expanded', false);
    $("#users").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#rights']").addClass('collapsed').attr('aria-expanded', false);
    $("#rights").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#incidents']").addClass('collapsed').attr('aria-expanded', false);
    $("#incidents").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#material']").addClass('collapsed').attr('aria-expanded', false);
    $("#material").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#procedures']").addClass('collapsed').attr('aria-expanded', false);
    $("#procedures").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#agencies']").addClass('collapsed').attr('aria-expanded', false);
    $("#agencies").removeClass('in').attr('aria-expanded', false);


  });
  $(".active[data-target='#procedures']").click(function () {
    $(".active[data-target='#categories']").addClass('collapsed').attr('aria-expanded', false);
    $("#categories").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#users']").addClass('collapsed').attr('aria-expanded', false);
    $("#users").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#rights']").addClass('collapsed').attr('aria-expanded', false);
    $("#rights").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#incidents']").addClass('collapsed').attr('aria-expanded', false);
    $("#incidents").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#material']").addClass('collapsed').attr('aria-expanded', false);
    $("#material").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#agencies']").addClass('collapsed').attr('aria-expanded', false);
    $("#agencies").removeClass('in').attr('aria-expanded', false);
  });
  $(".active[data-target='#material']").click(function () {
    $(".active[data-target='#categories']").addClass('collapsed').attr('aria-expanded', false);
    $("#categories").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#users']").addClass('collapsed').attr('aria-expanded', false);
    $("#users").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#rights']").addClass('collapsed').attr('aria-expanded', false);
    $("#rights").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#incidents']").addClass('collapsed').attr('aria-expanded', false);
    $("#incidents").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#procedures']").addClass('collapsed').attr('aria-expanded', false);
    $("#procedures").removeClass('in').attr('aria-expanded', false);
    $(".active[data-target='#agencies']").addClass('collapsed').attr('aria-expanded', false);
    $("#agencies").removeClass('in').attr('aria-expanded', false);

  });
});
</script>
