<!DOCTYPE html>
<html data-no-turbolink="true">
  <head>
    <title><%= strip_tags(' - Tick#{Master} - ') %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
  </head>
  <%= render 'layouts/page_cover'%>
  <% unless current_user.nil? %>
    <%= render 'layouts/k'%>
    <%= content_tag(:body, '', id: 'connected', class: "hold-transition skin-green sidebar-mini fixed") %>
    <div class="wrapper">
    <%= render 'layouts/header' %>
  <% else %>
    <div class="wrapper">
  <% end %>
      <div class="content-wrapper">
        <section class="content">
          <% @name_app = "tick'master" %>
          <%= yield %>
        </section>
      </div>
      <%= render 'layouts/flash_notices' %>
      <%= yield :js %>
    </div>
  </body>
</html>
