<!DOCTYPE html>

<html data-no-turbolink="true">

  <head>
    <title>
      <%= @title + " - Tick{Master}" %>
    </title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <% if @title == "Se connecter" || @title == "S'inscrire" || @title == "Accueil" || @title == "Identifiants oubliés"%>
  <%= content_tag(:body, '', id: 'not-connected', class: "Jour") %>
  <% else %>
  <%= content_tag(:body, '', id: 'connected', class: current_user.mode) %>
  <% end %>
  <!--Header-->
  <%= render 'layouts/header' %>
  <!--Header-->
  <% if @title == "Se connecter" || @title == "S'inscrire" || @title == "Accueil" || @title == "Identifiants oubliés"%>
  <div class="isOpen" id="content", class="Jour">
    <% else %>
    <div id="content", class="<%= current_user.mode %>">
      <% end %>

      <% @name_app = "Tick{Master}" %>
      <% if current_user.nil? %>
      <%= yield :form %>
      <%= yield :accueil %>

      <!--Contenu-->
      <% else %>
      <%= yield %>
      <% end %>

      <!--Footer-->
      <%= render 'layouts/footer' %>
      <!--Footer-->
      <script>
        var currentBoxNumber = 0;
        $("#next").keypress(function (event) {
          if (event.keyCode == 13) {
            textboxes = $("input.next");
            currentBoxNumber = textboxes.index(event.target);
            if (textboxes[currentBoxNumber + 1] != null) {
              nextBox = textboxes[currentBoxNumber + 1];
              nextBox.focus();
              nextBox.select();
              event.preventDefault();
              return false;
            }
          }
        });
      </script>

      <script type="text/javascript">
        $("tr[data-link]").click(function () {
          window.location = this.data("link")
        });
      </script>

      <script language='javascript' type='text/javascript'>
        $(document).ready(function () {
          $(".table-hover").tablesorter({
            theme: 'blue',
            widgets: ['filter']
          });
        });
      </script>
      <script language='javascript' type='text/javascript'>
        $(document).ready(function () {
          $('.table-hover').fixedHeader();
        });
      </script>

      <% if @title != "Accueil" %>
      <a class="updown-arrow <%= current_user != nil ? current_user.mode : 'Jour'%>" href="#">&#9650;</a>
      <% end %>
      <script type="text/javascript">
        $(window).scroll(function () {
          posScroll = $(document).scrollTop();
          if (posScroll >= 100)
            $('.updown-arrow').css({"visibility": "visible"});
          else
            $('.updown-arrow').css({"visibility": "hidden"});
          }
        );
      </script>

      <!--
POUR DECALER LE PANNEAU VERS LA GAUCHE ET AFFICHER UNIQUEMENT LES ICONES DES BOUTONS
<script type="text/javascript">
$(document).ready(function() {
  $('.openIt').on('click', function() {
    $('#content').toggleClass('isOpen');
    $('.openIt').toggleClass('isOpen');
    $('.wrap').toggleClass('isOpen');
    $('.header-fixed').toggleClass('isOpen');
    $('.btn-response').toggleClass('isOpen');
    $('.btn-cloture').toggleClass('isOpen');
    $('.btn-reject').toggleClass('isOpen');
    $('.btn-reaffect').toggleClass('isOpen');
    $('.submitforms').toggleClass('isOpen');
  });
});
</script>
-->
      <script type="text/javascript">
        $(document).ready(function () {
          $("input.tablesorter-filter").addClass('form-control');
        });
      </script>
    </div>
    <!--

FLECHE POUR DECALER LE PANNEAU VERS LA GAUCHE
<div class="wrap">
  <div class="triangle openIt"><%=image_tag("ICOMOON/16px/0313-arrow-left.png", :alt => "", :class => "arrowInTriangle")%></div>
</div>
-->
    <script type="text/javascript">
      $("input:text:visible:first").focus();
    </script>
    <script type="text/javascript">
      $(document).ready(function () {
        setTimeout(function () {
          $(".click").get(0).click();
        }, 1000);
        $(window).resize(function () {
          setTimeout(function () {
            $(".click").get(0).click();
          }, 0);
        })
      });
    </script>

  </div>
  <% if flash.now[:notice] %>
  <!-- <div class="container-modal">
    <!-- Modal -->
    <div class="modal fade in" id="notice-modal" role="dialog" style="display:block !important;">
      <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" style="color:#333;">&times;</button>
            <h4 class="modal-title" style="color:#333;">Message : </h4>
          </div>
          <div class="modal-body" style="color:#333;">
            <%= flash.now[:notice] %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
          </div>
        </div>

      </div>
    <!-- </div>

  </div> -->

  <script type="text/javascript">
    $(document).ready(function () {
      $("#notice-modal").modal('show');
      $(document).keypress(function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13'){
          $("#notice-modal").modal('hide');
        }
      });
    });
  </script>
  <% elsif flash.now[:not_authorized] %>
  <div id="erreur">
    <p>
      Message :
    </p><br>
    <p class="flash-notice">
      <%= flash.now[:not_authorized] %>
    </p>
    <%= link_to 'Ok', '/', class: "closepopup btn btn-success", style: "margin-left: 40%; width: 20%; margin-top:30px;padding: 10px 20px 10px 20px;"%>
  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".closepopup").click(function () {
        $("#erreur").hide(300);
      });
      $("#content").click(function () {
        $("#erreur").hide(300);
      });
      $(".nav-side-menu").click(function () {
        $("#erreur").hide(300);
      });
      $(document).keypress(function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13'){
          $(".closepopup").click();
        }
      });
    });
  </script>
<% end %>
<script type="text/javascript">
$(".btn-to-disable").click(function() {
  var $btn = $(this);
  $(this).addClass("btn-loading");
  setTimeout(function () {
    $btn.removeClass("btn-loading");
  }, 20000);
});
</script>

</body>

</html>
