<!DOCTYPE html>
<html data-no-turbolink="true">
  <head>
    <title><%= strip_tags(@title + " - Tick{Master}") %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
  </head>
  <%= render 'layouts/page_cover'%>
  <% unless current_user.nil? %>
    <%= render 'layouts/k'%>
    <% if @title == "Se connecter" || @title == "S'inscrire" || @title == "Accueil" || @title == "Identifiants oubliés"%>
      <%= content_tag(:body, '', id: 'not-connected') %>
      <%= render 'layouts/header' %>
      <div class="isOpen" id="content">
    <% else %>
      <%= content_tag(:body, '', id: 'connected') %>
      <%= render 'layouts/header' %>
      <div id="content">
    <% end %>
  <% end %>
  <% @name_app = "Tick{Master}" %>
  <% if current_user.nil? %>
    <%= yield :form %>
    <%= yield :accueil %>
  <% else %>
    <%= yield %>
  <% end %>
  <%= render 'layouts/footer' %>
  <% if @title != "Accueil" %>
    <a class="updown-arrow" href="#">&#9650;</a>
  <% end %>
  </div>
  <%= render 'layouts/flash_notices' %>
  <%= yield(:js) %>
</body>
</html>
